<section class="section page-detail">
	<div class="">
		<div class="sidebar-1">
			<div class="header-content width_common">
				<span class="date">Thứ hai, 21/11/2022, 14:00 (GMT+7)

				</span>
			</div>

			<h1 class="title-detail">Phía Đông Hà Nội - tâm điểm mới của vùng kinh tế trọng điểm Bắc Bộ </h1>

			<p class="description">Nhờ lợi thế kết nối đồng bộ, khu Đông Thủ đô đang dần định hình thành tâm điểm kinh
				tế quan trọng tại miền Bắc.</p>

			<article class="fck_detail ">
				<div id="divfirst">
					<p class="Normal">Với diện tích tự nhiên khoảng 15.591 km2 (chiếm 4,7% cả nước); quy mô dân số 16,14
						triệu người (chiếm 17% cả nước), vùng kinh tế trọng điểm Bắc Bộ gồm 7 tỉnh, thành: Hà Nội, Hải
						Phòng, Quảng Ninh, Hưng Yên, Hải Dương, Bắc Ninh và Vĩnh Phúc.</p>
					<p class="Normal">Đây là một trong những vùng dẫn đầu về phát triển kinh tế - xã hội nhanh và bền
						vững của cả nước, cũng là trung tâm chính trị, kinh tế, văn hóa và công nghệ, với các cơ quan
						Trung ương, trung tâm điều hành của nhiều tổ chức kinh tế, cơ sở đào tạo, nghiên cứu và triển
						khai khoa học công nghệ của quốc gia...</p>
					<p class="Normal">6 tháng đầu năm 2022, chỉ số GRDP của toàn vùng đạt khoảng 698.000 tỷ đồng, đứng
						thứ hai sau vùng kinh tế trọng điểm phía Nam.</p>
					<p class="Normal">
						<strong>Hạ tầng - lực đẩy của vùng kinh tế trọng điểm Bắc Bộ</strong>
					</p>
					<p class="Normal">Nhiều công trình hạ tầng đồng bộ đã và đang tạo lợi thế lớn, kéo dài nhịp phát
						triển cho vùng kinh tế trọng điểm Bắc Bộ. Về đường bộ, khu vực sở hữu Quốc lộ 1A, Quốc lộ 5,
						Quốc lộ 18, Quốc lộ 38, Cao tốc Pháp Vân - Ninh Bình, Cao tốc Hà Nội - Hải Phòng - Hạ Long - Vân
						Đồn - Móng Cái, cao tốc Láng - Hòa Lạc, Vành đai 3...</p>
					<p class="Normal">Về đường hàng không, khu vực sở hữu những sân bay lớn như Sân bay Nội Bài, Sân bay
						Cát Bi, Sân bay Vân Đồn. Về đường biển, vùng sở hữu các cảng biển quan trọng như cảng quốc tế
						tại Lạch Huyện, Cảng Cái Lân...</p>
					<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
						itemprop="associatedMedia image" data-size="true">
						<div class="action_thumb flexbox"
							style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
							<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
								</svg>
							</a>
							<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
								</svg>
							</a>
							<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
								href="javascript:;">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
								</svg>
							</a>
						</div>
						<meta
							content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=FaD87QrBwFbRrIJmW-ZWvw"
							itemprop="url">
						<meta content="1200" itemprop="width">
						<meta content="545" itemprop="height">
						<meta content="" itemprop="href">
						<div class="fig-picture" style="padding-bottom: 45.41%; position: relative;">
							<picture>
								<source
									srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Z3ICwJ-JYiQwmqzX_m7-Xw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=oZ-_OOFRgGd4BS7b4SAOoA 2x"
									data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Z3ICwJ-JYiQwmqzX_m7-Xw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=oZ-_OOFRgGd4BS7b4SAOoA 2x">
								<img class="lazy lazied" style="left: 0px; width: 100%; position: absolute;"
									alt="Hạ tầng tạo lực đẩy cho vùng kinh tế trọng điểm Bắc Bộ. Ảnh: Hằng Trịnh"
									src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
									itemprop="contentUrl" loading="lazy"
									data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
									intrinsicsize="680x0"
									data-pfsrc="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
									data-ll-status="loaded">
							</picture>
						</div>
						<figcaption itemprop="description">
							<p class="Image">Hạ tầng tạo lực đẩy cho vùng kinh tế trọng điểm Bắc Bộ. Ảnh: <em>Hằng
									Trịnh</em>
							</p>
						</figcaption>
					</figure>
					<p class="Normal">Mới đây, thông tin về những công trình hạ tầng trọng điểm mới cũng mở ra động lực
						tăng trưởng mới cho khu vực này. Một trong những công trình đáng chú ý là đường Vành đai 3,5 hơn
						45km, tổng vốn đầu tư 25.000 tỷ đồng, đã hình thành một trong số 8 đoạn (đường Lê Trọng Tấn và
						đường Phúc La - Văn Phú); đoạn từ quốc lộ 32 đến đại lộ Thăng Long đang được đầu tư.</p>
					<p class="Normal">Tuyến đường không chỉ giới hạn trong Thủ đô Hà Nội mà còn đấu nối với hợp phần do
						tỉnh Hưng Yên triển khai. Đường vành đai đoạn qua huyện Văn Giang và Văn Lâm (Hưng Yên) có chiều
						dài hơn 7km, tổng mức đầu tư 5.358 tỷ đồng.</p>
					<p class="Normal">Lực đẩy quan trọng cho sự phát triển của khu vực còn là dự án Vành đai 4 - Vùng
						Thủ đô dài 112,8km, đi qua Hà Nội, Hưng Yên, Bắc Ninh có tổng vốn đầu tư 94.000 tỷ đồng. Mới
						đây, Chính phủ yêu cầu ba địa phương trên thực hiện các dự án thành phần, đảm bảo tiến độ hoàn
						thành dự án Vành đai 4 vùng Thủ đô năm 2026, khai thác năm 2027.</p>
				</div>
				<div id="admbackground" data-set="dfp">
					<div id="video_outstream" style="display: none;">
						<div class="txt_ads">
							Quảng cáo
						</div>
						<div id="sis_outstream" style="text-align: center;"
							data-google-query-id="COScyey4v_sCFWlJDwIdLdoFiA">
							<div id="google_ads_iframe_/27973503/Vnexpress/Desktop/Outstream/Kinhdoanh/kinhdoanh.batdongsan.detail_0__container__"
								style="border: 0pt currentColor; border-image: none;">
							</div>
						</div>
					</div>
				</div>
				<div id="divend">
					<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
						itemprop="associatedMedia image" data-size="true">
						<div class="action_thumb flexbox"
							style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
							<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
								</svg>
							</a>
							<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
								</svg>
							</a>
							<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
								href="javascript:;">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
								</svg>
							</a>
						</div>
						<meta
							content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=0B4lRGACyuJ7pJlCG47tTQ"
							itemprop="url">
						<meta content="1200" itemprop="width">
						<meta content="682" itemprop="height">
						<meta content="" itemprop="href">
						<div class="fig-picture" style="padding-bottom: 56.83%; position: relative;">
							<picture>
								<source
									data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=iyf9nD2PP36jGfN0sZg2Ig 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=utrPvst4QBgOORDeHWyRxw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=uX7_KKCsonjX64kLDO0bAA 2x">
								<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
									alt="Hướng tuyến đường vành đai 4 theo quy hoạch. Đồ họa: Tạ Lư"
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									itemprop="contentUrl" loading="lazy"
									data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=iyf9nD2PP36jGfN0sZg2Ig"
									intrinsicsize="680x0"
									data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-ll-status="observed">
							</picture>
						</div>
						<figcaption itemprop="description">
							<p class="Image">Hướng tuyến đường vành đai 4 theo quy hoạch. Đồ họa: <em>Tạ Lư</em>
							</p>
						</figcaption>
					</figure>
					<p class="Normal">Ngoài việc giảm tải áp lực giao thông nội đô và hoàn thiện cơ sở hạ tầng giao
						thông của khu vực, các tuyến đường vành đai sẽ đẩy mạnh kết nối nhiều khu, cụm công nghiệp, khu
						đô thị, các tỉnh, thành phố trong vùng giao thương. Đây là tiền đề thúc đẩy hoạt động kinh
						doanh, sản xuất giữa các tỉnh thành, tạo tiềm năng phát triển và đầu tư các dự án bất động sản ở
						các khu vực xung quanh.</p>
					<p class="Normal">
						<strong>Sự chuyển mình của khu Đông Hà Nội</strong>
					</p>
					<p class="Normal">Giới chuyên gia nhận định, nhờ khả năng kết nối mạnh mẽ với lõi nội đô và các tỉnh
						thành lân cận, bờ Đông sông Hồng đang dần trở thành trung tâm mới của toàn bộ vùng kinh tế trọng
						điểm Bắc Bộ. Khu vực có lợi thế trở thành tâm điểm giao thương, trung tâm logistics, trung tâm
						công nghệ mới khi tọa lạc ở điểm đầu kết nối vùng Thủ đô với tam giác kinh tế trọng điểm phía
						Bắc là Hà Nội – Hải Phòng - Quảng Ninh.</p>
					<p class="Normal">Hạ tầng đồng bộ cũng giúp khu Đông thuận tiện kết nối tới các cụm, khu công nghiệp
						lớn tại nhiều tỉnh thành phía Bắc ở Bắc Ninh, Hưng Yên..., biến nơi đây thành nơi tập trung cộng
						đồng chuyên gia nước ngoài, tầng lớp trí thức, người thu nhập cao. Không dừng ở đó, thị trường
						cũng chứng kiến làn sóng dịch chuyển của cư dân từ lõi nội đô cũ, chật hẹp sang khu vực bờ Đông
						sông Hồng.</p>
					<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
						itemprop="associatedMedia image" data-size="true">
						<div class="action_thumb flexbox"
							style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
							<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
								</svg>
							</a>
							<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
								</svg>
							</a>
							<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
								href="javascript:;">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
								</svg>
							</a>
						</div>
						<meta
							content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=XxoqdkMC0Dqg1lSJRjAPKg"
							itemprop="url">
						<meta content="1200" itemprop="width">
						<meta content="667" itemprop="height">
						<meta content="" itemprop="href">
						<div class="fig-picture" style="padding-bottom: 55.58%; position: relative;">
							<picture>
								<source
									data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=vdFV-KrVosunfS7FSseOfQ 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=aHAjUhvrW2_aP_09bsqcKQ 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Tt73U_CYy30g1x07tMCVAQ 2x">
								<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
									alt="Vinhomes Ocean Park - đại đô thị đã quy tụ hàng trăm nghìn cư dân. Ảnh: Vinhomes"
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									itemprop="contentUrl" loading="lazy"
									data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=vdFV-KrVosunfS7FSseOfQ"
									intrinsicsize="680x0"
									data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-ll-status="observed">
							</picture>
						</div>
						<figcaption itemprop="description">
							<p class="Image">Vinhomes Ocean Park - đại đô thị đã quy tụ hàng trăm nghìn cư dân. Ảnh:
								Vinhomes</p>
						</figcaption>
					</figure>
					<p class="Normal">Khu Đông Hà Nội vài năm qua liên tục đánh dấu có sự hiện diện của các "ông lớn"
						trên thị trường bất động sản như Vinhomes, Ecopark, Masterise Homes, BRG, Eurowindow... Với quỹ
						đất rộng, có nhiều không gian phát triển, các ông lớn bất động sản cũng đẩy mạnh việc đầu tư các
						khu đô thị quy mô, tích hợp đa dạng tiện ích, dịch vụ bài bản, định hình những chuẩn mực sống
						cao cấp, chinh phục tầng lớp cư dân mới. Những khu đô thị hàng chục, cho tới hàng trăm ha của
						Vingroup, Tập đoàn Ecopark... đang dần được lấp đầy. Ở đó, mức độ phát triển của các tiện ích,
						dịch vụ cũng đã ở một nấc thang mới, với những hoạt động, sự kiện diễn ra thường xuyên trên quy
						mô lớn mang đến một bộ mặt đô thị cao cấp và giàu sức sống.</p>
					<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
						itemprop="associatedMedia image" data-size="true">
						<div class="action_thumb flexbox"
							style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
							<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
								</svg>
							</a>
							<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
								</svg>
							</a>
							<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
								href="javascript:;">
								<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
								</svg>
							</a>
						</div>
						<meta
							content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=K_gcC9-oHYKcuKoxDXNpKA"
							itemprop="url">
						<meta content="1200" itemprop="width">
						<meta content="899" itemprop="height">
						<meta content="" itemprop="href">
						<div class="fig-picture" style="padding-bottom: 74.86%; position: relative;">
							<picture>
								<source
									data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=rxhW_KdSwadxQtUkkoYQ-w 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=o71x3GBnlW6jreXThzTaig 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=76H2mONYjhuHJvpTuzirow 2x">
								<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
									alt="Cầu vượt Long Hưng, Hưng Yên. Ảnh: Vinhomes"
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									itemprop="contentUrl" loading="lazy"
									data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=rxhW_KdSwadxQtUkkoYQ-w"
									intrinsicsize="680x0"
									data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-ll-status="observed">
							</picture>
						</div>
						<figcaption itemprop="description">
							<p class="Image">Cầu vượt Long Hưng, Hưng Yên. Ảnh: <em>Vinhomes</em>
							</p>
						</figcaption>
					</figure>
					<p class="Normal">Theo ông Lê Hoàng Châu, Chủ tịch Hiệp hội Bất động sản TP HCM (HoREA), Hưng Yên có
						đặc điểm là nếu dùng tỉnh này làm trung tâm, lấy compa vẽ bán kính 200km thì thấy các đô thị lớn
						vùng Trung du và Đồng bằng Bắc Bộ tập trung xung quanh. Như vậy, cư dân đến ở không những được
						thụ hưởng tiện ích dịch vụ mà còn được kết nối. Xung quanh Hưng Yên là các khu công nghiệp, Hải
						Dương cũng có nhiều khu công nghiệp cũng như tại Hải Phòng, Quảng Ninh...</p>
					<p class="Normal">"Tựu chung lại, phía Đông là hướng chiến lược. Các nhà đầu tư phía Nam rất quan
						tâm thị trường phía Đông thủ đô, trong đó có dự án của Vingroup", ông Châu nói.</p>
					<p class="Normal">Nhìn dưới góc độ quy hoạch, khu Đông Hà Nội còn góp phần "giải nén" cho khu vực
						phố cổ và lõi nội đô, vốn đã bị quá tải. Theo đồ án quy hoạch phân khu các quận Hoàn Kiếm, Ba
						Đình, Đống Đa và Hai Bà Trưng, năm 2030, dân số các quận sẽ giảm từ gần 900.000 xuống còn
						670.000. Để đạt được mục tiêu "giãn" dân, Sở Quy hoạch và Kiến trúc Hà Nội cho hay thành phố sẽ
						triển khai các giải pháp đồng bộ, bao gồm việc di dân ra bên ngoài khu vực nội đô; triển khai
						đồng bộ chủ trương di dời trường đại học, bệnh viện, trụ sở bộ ngành...</p>
					<p class="Normal">Theo ông Trần Ngọc Chính - Chủ tịch Hội Quy hoạch Phát triển đô thị Việt Nam, theo
						quy hoạch, Hà Nội hướng tới mở rộng 5 khu đô thị vệ tinh và ba khu đô thị sinh thái, để phù hợp
						với yêu cầu phát triển bền vững trong tương lai. Giải pháp này giúp Thủ đô ngàn năm văn hiến
						phát triển một cách hài hoà, bền vững, bảo lưu được văn hoá, văn hiến.</p>
					<p class="Normal">Còn theo giáo sư Đặng Hùng Võ - nguyên Thứ trưởng Bộ Tài nguyên và Môi trường, quá
						trình phát triển của Hà Nội 5-7 năm gần đây có nhiều biến động. Trong đó có 5 phương án mở rộng
						Hà Nội, mà phương án thứ 5 - lấy sông Hồng đặt giữa Hà Nội, mở rộng phía Đông hơn, mở từ Ba Vì
						tới Hưng Yên, giáp Đền Chử Đồng Tử là phương án hữu hiệu nhất.</p>
					<p class="Normal">Việc phát triển Hà Nội theo hướng tỏa ra hai hướng bờ Đông và bờ Tây sông Hồng
						được coi là địa thế theo phong thủy là bền vững, chắc chắn. Trong đó, phía Đông là nơi Vingroup
						hiện thực hóa những ý tưởng quy hoạch đồng bộ, cả về quy hoạch, tiềm năng, phát triển và tương
						lai của một phong cách sống mới.</p>
					<p class="Normal">Vị chuyên gia ủng hộ cách làm của chủ đầu tư bất động sản của Vingroup khi đặt ra
						chuỗi đô thị ở phía Đông Hà Nội, coi đây là điểm nhấn đầu tiên kéo toàn bộ đô thị phía Đông Hà
						Nội phát triển theo.</p>
					<p class="Normal">"Tư duy của Vingroup vào phía Đông với một dãy đô thị kết nối là sáng sủa, rõ
						ràng, mạch lạc, có ý tưởng, không phải do tư duy cứ có đất trống thì vào làm. Các điểm hiện tại
						như Vinhomes Ocean Park 1-2-3 và Vinhomes Riverside cũng như Times City, đều là điểm đô thị mới,
						mang tư duy phát triển phương Tây", ông Võ nói.</p>
					<p class="Normal">Trong tương lai gần, khi các tuyến đường giao thông tiếp tục được hoàn thiện, giới
						chuyên gia nhận định, khu Đông nhiều tiềm năng bứt tốc trên hành trình trở thành trung tâm mới
						không chỉ của vùng Thủ đô mà còn của cả vùng kinh tế trọng điểm Bắc Bộ.</p>
					<p align="right" class="Normal">
						<strong>Hoài Phong</strong>
					</p>
				</div>
			</article>

			<div class="lazier" id="_detail_topic">

			</div>
		</div>
	</div>
</section>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}

	.page-detail .sidebar-1 {
		width: 100%;
		max-width: calc(100% - 365px);
		padding: 20px 0 0 0;
		position: relative;
	}

	.page-detail.top-detail .sidebar-1 {
		width: 100%;
		max-width: calc(100% - 430px);
		padding: 20px 0 0 0;
	}

	.container {
		width: 100%;
		max-width: 1130px;
		padding: 0 15px;
		margin: 0 auto;
		position: relative;
	}

	.container::after {
		content: "";
		display: table;
		clear: both;
	}

	.wrap_pic,
	.wrap_pic .block_thumb_wrap,
	.social-com,
	.detail-live .fck_detail .wrap-img-content,
	.detail-live .header-live .social,
	.detail-live .wrap-notifile,
	.tab-comment .header-tab,
	.page-detail .container,
	.header-social .social,
	.score-table,
	.score-table .group {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.page-detail.top-detail .container {
		background: #fcfaf6;
	}

	.section {
		width: 100%;
		float: left;
	}

	.page-detail.top-detail {
		background: #fcfaf6;
		border-bottom: 1px solid #e0e0e0;
	}

	html,
	body {
		text-rendering: optimizeLegibility;
	}

	body {
		color: #222;
		font: 400 15px arial;
		min-height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	html {
		-webkit-text-size-adjust: none;
	}

	.width_common {
		width: 100%;
		float: left;
	}

	.page-detail .header-content,
	.page-detail .width-detail-photo {
		margin-bottom: 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: inherit;
		font-size: inherit;
		font-weight: inherit;
	}

	.detail-live .tab-live,
	.detail-live .title-block-live,
	.tab-comment .header-tab,
	.box_note_join .tit_note,
	.box_about_author .name_au,
	.block-khachmoi .txt-km,
	.page-detail .related-list li,
	.page-detail .title-detail,
	.score-table,
	.block_reply_tv .tit_reply,
	.item_quiz .tittle_quiz {
		font-feature-settings: "pnum" 1, "lnum" 1;
		-webkit-font-feature-settings: "pnum" on, "lnum" on;
		-moz-font-feature-settings: "pnum" on, "lnum" on;
		-ms-font-feature-settings: "pnum" 1, "lnum" 1;
	}

	.page-detail .title-detail {
		font-size: 32px;
		line-height: 150%;
		font-family: "Merriweather", serif;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.page-detail .description {
		font-size: 18px;
		line-height: 160%;
		font-weight: 400;
		margin-bottom: 15px;
	}

	.fck_detail {
		width: 100%;
		float: left;
		position: relative;
		font: 400 18px arial;
		line-height: 160%;
		padding: 0;
		color: #222;
	}

	a {
		color: inherit;
		text-decoration: none;
		outline: 1;
	}

	.page-detail .footer-content,
	.page-detail .footer-content .social,
	.page-detail .footer-content .social a,
	.page-detail .related-news,
	.page-detail .list-topic {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.page-detail .footer-content {
		margin-bottom: 20px;
	}

	.lazier {
		width: 1px;
		height: 1px;
	}

	.lazier {
		width: 1px;
		height: 1px;
		clear: both;
	}

	.page-detail .footer-content .save {
		background: #fff;
		width: 80px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		display: inline-block;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		color: #4f4f4f;
	}

	.page-detail .footer-content .back-folder {
		width: auto;
		padding: 0 15px;
		margin-right: 10px;
		position: relative;
		transition-duration: 300ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		overflow: hidden;
	}

	.page-detail .footer-content .social {
		margin-left: auto;
	}

	.page-detail .footer-content .social .txt {
		line-height: 40px;
		color: #4f4f4f;
	}

	.page-detail .footer-content .social a {
		background: #fff;
		position: relative;
		width: 32px;
		height: 32px;
		border: 1px solid #e5e5e5;
		border-radius: 50%;
		margin-left: 10px;
		align-self: center;
		justify-content: center;
	}

	.ic {
		width: 16px;
		height: 16px;
		fill: #757575;
		display: inline-block;
		vertical-align: middle;
	}

	.page-detail .footer-content .social a svg {
		align-self: center;
	}

	.tip {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
		height: 24px;
		line-height: 24px;
		background: #17191a;
		color: #fff !important;
		font-size: 12px !important;
		text-decoration: none !important;
		white-space: nowrap;
		padding: 0 10px;
		border-radius: 3px;
	}

	.page-detail .footer-content .save svg {
		width: 24px;
		height: 24px;
		fill: #076db6;
		margin-right: 2px;
	}

	.page-detail .footer-content .back-folder .ic {
		fill: #757575;
		width: 16px;
		height: 16px;
		transform: rotate(180deg);
	}

	.page-detail .footer-content .back-folder .tip {
		left: 20px;
		transform: none;
		top: 0px;
		opacity: 0;
		transition-duration: 200ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		visibility: hidden;
	}

	figure {
		margin: 0 auto 20px;
		max-width: 100%;
		clear: both;
	}

	figure {
		position: relative;
	}

	figure::before {
		transition-duration: 250ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		opacity: 0;
		visibility: hidden;
		top: 10px;
		left: 10px;
		content: "Bấm để xem chi tiết";
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		background: rgba(34, 34, 34, .8);
		padding: 8px 9px;
		border-radius: 3px;
		position: absolute;
	}

	.fck_detail .tplCaption {
		text-align: center;
	}

	.fck_detail figure.tplCaption {
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 15px;
	}

	.fck_detail .Normal,
	.fck_detail p {
		margin: 0 0 1em;
		line-height: 160%;
		text-rendering: optimizeSpeed;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.action_thumb {
		position: absolute;
		top: 10px;
		right: 10px;
		background: #17191A;
		height: 32px;
		border-radius: 3px;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.fck_detail figure.tplCaption .fig-picture {
		width: 100%;
		float: left;
		display: table;
		justify-content: center;
		background: #f0eeea;
		text-align: center;
	}

	.fck_detail figure.tplCaption figcaption {
		width: 100%;
		float: left;
		text-align: left;
	}

	.fck_detail p.Image {
		margin: 0;
		padding: 5px;
	}

	.fck_detail figure.tplCaption figcaption p {
		font: 400 14px/160% arial;
		padding-top: 10px;
		margin-bottom: 0px;
	}

	.fck_detail .tplCaption .Image {
		text-align: left;
	}

	.fck_detail table.tplCaption td.caption,
	.fck_detail table.tplCaption td.Image,
	.fck_detail table.tplCaption td p.Normal,
	.fck_detail table.tplCaption td .Image,
	.fck_detail .tplCaption .Image {
		font: 400 14px arial;
		line-height: 160%;
		color: #222;
		padding: 10px 0 0 0;
		margin: 0;
		text-align: left;
	}

	img {
		border: 0;
		font-size: 0px;
		line-height: 0;
		max-width: 100%;
	}

	.lazy {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.fck_detail .tplCaption img {
		max-height: 700px;
	}

	.fck_detail figure.tplCaption img {
		max-height: 700px;
	}

	.short_intro a,
	.fck_detail a {
		color: #076db6;
		position: relative;
		text-decoration: underline;
		text-underline-position: under;
	}

	.action_thumb a {
		padding: 0 10px;
		height: 32px;
		line-height: 30px;
		color: #fff;
	}

	.action_thumb a::before {
		display: none;
	}

	.action_thumb a .ic {
		fill: #bdbdbd;
	}

	#video_outstream {
		margin-bottom: 10px;
	}

	.txt_ads {
		overflow: hidden;
		font: 400 .8rem Arial;
		margin: 0 auto;
		width: 50%;
		color: #bdbdbd;
		margin-bottom: 5px;
		text-align: center;
	}

	.txt_ads::before {
		right: 0.5em;
		margin-left: -50%;
	}

	.txt_ads::after {
		left: 0.5em;
		margin-right: -50%;
	}

	.txt_ads::before,
	.txt_ads::after {
		background-color: #E5E5E5;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}

	ul,
	li {
		list-style-type: none;
	}

	.breadcrumb {
		float: left;
	}

	.page-detail .header-content .date,
	.page-detail .width-detail-photo .date {
		float: right;
		color: #757575;
		font-size: 14px;
	}

	.breadcrumb li {
		position: relative;
		display: inline-block;
		line-height: 16px;
		font-size: 14px;
		color: #757575;
		margin-right: 25px;
	}

	.breadcrumb li::after {
		content: "";
		width: 7px;
		height: 7px;
		border-top: 1px solid #bdbdbd;
		border-right: 1px solid #bdbdbd;
		transform: rotate(45deg);
		position: absolute;
		left: -19px;
		top: 5px;
	}

	.breadcrumb li:first-child {
		color: #076db6;
	}

	.breadcrumb li:first-child::after {
		content: none;
	}

	.breadcrumb li a {
		display: inline-block;
	}
</style>