<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

</head>
<body>
	<header class="re__full-menu re__header re__hover-menu re__tablet-menu  js__menu-bar">
	<div class="re__menu-bar re__pushmenu re__pushmenu-right floating--right">                            
		<div class="re__control-menu">
		<div id="Header_UserControl_divPostProduct">
			<a href="/logout">
				<button class="re__btn-se-border--md " style="background-color: rgb(27, 25, 24);color:rgb(230, 247, 0)">
						Đăng xuất
				</button>
			</a>
		</div>
		</div>
		<div class="re__drop-menu">
		<div class="row re__left-menu">
			<h1>
			<a href="/home_user">
				<img style="" title="Homestaybg" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.15752-9/315445344_663833802019157_5693318441254098458_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=3av0AHLge1YAX81-Nzf&_nc_ht=scontent.fsgn2-1.fna&oh=03_AdS5YxbwY7k8rmDF_pHlNcFd7--mT44_v0Y4d9qBEZJcXA&oe=63A1B3AE">
			</a>
			</h1>
		</div>
		<div class="re__right-menu">
			<div class="re__home-header-menu">
			<ul class="re__dropdown-no-art--sm re__dropdown-navigative-menu">
				<li class="lv0 ">
				<a class="haslink" href="/homesUser/showChungCu_user">
					<span class="text">Chung cư</span>
				</a>
				</li>
				<li class="lv0 ">
				<a class="haslink" href="/homesUser/showNhaRieng_user">
					<span class="text">Nhà riêng</span>
				</a>
				</li>
				<li class="lv0 ">
				<a class="haslink" href="/homesUser/showBietThu_user">
					<span class="text">Biệt thự</span>
				</a>
				</li>
				<li class="lv0 ">
				<a class="haslink" href="/news_user">
					<span class="text">Tin tức</span>
					<span class="text-new-content text-new-content-top">N</span>
				</a>
				</li>
				<li class="lv0 ">
				<a class="haslink" href="/introduce_user">
					<span class="icon">
					</span>
					<span class="text">Giới thiệu</span>
				</a>
				</li>
			</ul>
			</div>
		</div>
		<div class="clear">&nbsp;</div>
		</div>
	</div>
	</header>
	<section class="section page-detail " style="padding-left: 50px;">
		<div class="">
			<div class="sidebar-1">
				<div class="header-content width_common">
					<span class="date">Thứ hai, 21/11/2022, 14:00 (GMT+7)

					</span>
				</div>

				<h1 class="title-detail">Phía Đông Hà Nội - tâm điểm mới của vùng kinh tế trọng điểm Bắc Bộ </h1>

				<p class="description">Nhờ lợi thế kết nối đồng bộ, khu Đông Thủ đô đang dần định hình thành tâm điểm kinh
					tế quan trọng tại miền Bắc.</p>

				<article class="fck_detail ">
					<div id="divfirst">
						<p class="Normal">Với diện tích tự nhiên khoảng 15.591 km2 (chiếm 4,7% cả nước); quy mô dân số 16,14
							triệu người (chiếm 17% cả nước), vùng kinh tế trọng điểm Bắc Bộ gồm 7 tỉnh, thành: Hà Nội, Hải
							Phòng, Quảng Ninh, Hưng Yên, Hải Dương, Bắc Ninh và Vĩnh Phúc.</p>
						<p class="Normal">Đây là một trong những vùng dẫn đầu về phát triển kinh tế - xã hội nhanh và bền
							vững của cả nước, cũng là trung tâm chính trị, kinh tế, văn hóa và công nghệ, với các cơ quan
							Trung ương, trung tâm điều hành của nhiều tổ chức kinh tế, cơ sở đào tạo, nghiên cứu và triển
							khai khoa học công nghệ của quốc gia...</p>
						<p class="Normal">6 tháng đầu năm 2022, chỉ số GRDP của toàn vùng đạt khoảng 698.000 tỷ đồng, đứng
							thứ hai sau vùng kinh tế trọng điểm phía Nam.</p>
						<p class="Normal">
							<strong>Hạ tầng - lực đẩy của vùng kinh tế trọng điểm Bắc Bộ</strong>
						</p>
						<p class="Normal">Nhiều công trình hạ tầng đồng bộ đã và đang tạo lợi thế lớn, kéo dài nhịp phát
							triển cho vùng kinh tế trọng điểm Bắc Bộ. Về đường bộ, khu vực sở hữu Quốc lộ 1A, Quốc lộ 5,
							Quốc lộ 18, Quốc lộ 38, Cao tốc Pháp Vân - Ninh Bình, Cao tốc Hà Nội - Hải Phòng - Hạ Long - Vân
							Đồn - Móng Cái, cao tốc Láng - Hòa Lạc, Vành đai 3...</p>
						<p class="Normal">Về đường hàng không, khu vực sở hữu những sân bay lớn như Sân bay Nội Bài, Sân bay
							Cát Bi, Sân bay Vân Đồn. Về đường biển, vùng sở hữu các cảng biển quan trọng như cảng quốc tế
							tại Lạch Huyện, Cảng Cái Lân...</p>
						<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
							itemprop="associatedMedia image" data-size="true">
							<div class="action_thumb flexbox"
								style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
								<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
									</svg>
								</a>
								<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
									</svg>
								</a>
								<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
									href="javascript:;">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
									</svg>
								</a>
							</div>
							<meta
								content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=FaD87QrBwFbRrIJmW-ZWvw"
								itemprop="url">
							<meta content="1200" itemprop="width">
							<meta content="545" itemprop="height">
							<meta content="" itemprop="href">
							<div class="fig-picture" style="padding-bottom: 45.41%; position: relative;">
								<picture>
									<source
										srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Z3ICwJ-JYiQwmqzX_m7-Xw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=oZ-_OOFRgGd4BS7b4SAOoA 2x"
										data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=Z3ICwJ-JYiQwmqzX_m7-Xw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=oZ-_OOFRgGd4BS7b4SAOoA 2x">
									<img class="lazy lazied" style="left: 0px; width: 100%; position: absolute;"
										alt="Hạ tầng tạo lực đẩy cho vùng kinh tế trọng điểm Bắc Bộ. Ảnh: Hằng Trịnh"
										src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
										itemprop="contentUrl" loading="lazy"
										data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
										intrinsicsize="680x0"
										data-pfsrc="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image001-1229-1669008989.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=q5aXNw_9S1wyby1ia-UxFA"
										data-ll-status="loaded">
								</picture>
							</div>
							<figcaption itemprop="description">
								<p class="Image">Hạ tầng tạo lực đẩy cho vùng kinh tế trọng điểm Bắc Bộ. Ảnh: <em>Hằng
										Trịnh</em>
								</p>
							</figcaption>
						</figure>
						<p class="Normal">Mới đây, thông tin về những công trình hạ tầng trọng điểm mới cũng mở ra động lực
							tăng trưởng mới cho khu vực này. Một trong những công trình đáng chú ý là đường Vành đai 3,5 hơn
							45km, tổng vốn đầu tư 25.000 tỷ đồng, đã hình thành một trong số 8 đoạn (đường Lê Trọng Tấn và
							đường Phúc La - Văn Phú); đoạn từ quốc lộ 32 đến đại lộ Thăng Long đang được đầu tư.</p>
						<p class="Normal">Tuyến đường không chỉ giới hạn trong Thủ đô Hà Nội mà còn đấu nối với hợp phần do
							tỉnh Hưng Yên triển khai. Đường vành đai đoạn qua huyện Văn Giang và Văn Lâm (Hưng Yên) có chiều
							dài hơn 7km, tổng mức đầu tư 5.358 tỷ đồng.</p>
						<p class="Normal">Lực đẩy quan trọng cho sự phát triển của khu vực còn là dự án Vành đai 4 - Vùng
							Thủ đô dài 112,8km, đi qua Hà Nội, Hưng Yên, Bắc Ninh có tổng vốn đầu tư 94.000 tỷ đồng. Mới
							đây, Chính phủ yêu cầu ba địa phương trên thực hiện các dự án thành phần, đảm bảo tiến độ hoàn
							thành dự án Vành đai 4 vùng Thủ đô năm 2026, khai thác năm 2027.</p>
					</div>
					<div id="admbackground" data-set="dfp">
						<div id="video_outstream" style="display: none;">
							<div class="txt_ads">
								Quảng cáo
							</div>
							<div id="sis_outstream" style="text-align: center;"
								data-google-query-id="COScyey4v_sCFWlJDwIdLdoFiA">
								<div id="google_ads_iframe_/27973503/Vnexpress/Desktop/Outstream/Kinhdoanh/kinhdoanh.batdongsan.detail_0__container__"
									style="border: 0pt currentColor; border-image: none;">
								</div>
							</div>
						</div>
					</div>
					<div id="divend">
						<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
							itemprop="associatedMedia image" data-size="true">
							<div class="action_thumb flexbox"
								style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
								<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
									</svg>
								</a>
								<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
									</svg>
								</a>
								<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
									href="javascript:;">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
									</svg>
								</a>
							</div>
							<meta
								content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=0B4lRGACyuJ7pJlCG47tTQ"
								itemprop="url">
							<meta content="1200" itemprop="width">
							<meta content="682" itemprop="height">
							<meta content="" itemprop="href">
							<div class="fig-picture" style="padding-bottom: 56.83%; position: relative;">
								<picture>
									<source
										data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=iyf9nD2PP36jGfN0sZg2Ig 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=utrPvst4QBgOORDeHWyRxw 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=uX7_KKCsonjX64kLDO0bAA 2x">
									<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
										alt="Hướng tuyến đường vành đai 4 theo quy hoạch. Đồ họa: Tạ Lư"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										itemprop="contentUrl" loading="lazy"
										data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image003-4895-1669008989.png?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=iyf9nD2PP36jGfN0sZg2Ig"
										intrinsicsize="680x0"
										data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-ll-status="observed">
								</picture>
							</div>
							<figcaption itemprop="description">
								<p class="Image">Hướng tuyến đường vành đai 4 theo quy hoạch. Đồ họa: <em>Tạ Lư</em>
								</p>
							</figcaption>
						</figure>
						<p class="Normal">Ngoài việc giảm tải áp lực giao thông nội đô và hoàn thiện cơ sở hạ tầng giao
							thông của khu vực, các tuyến đường vành đai sẽ đẩy mạnh kết nối nhiều khu, cụm công nghiệp, khu
							đô thị, các tỉnh, thành phố trong vùng giao thương. Đây là tiền đề thúc đẩy hoạt động kinh
							doanh, sản xuất giữa các tỉnh thành, tạo tiềm năng phát triển và đầu tư các dự án bất động sản ở
							các khu vực xung quanh.</p>
						<p class="Normal">
							<strong>Sự chuyển mình của khu Đông Hà Nội</strong>
						</p>
						<p class="Normal">Giới chuyên gia nhận định, nhờ khả năng kết nối mạnh mẽ với lõi nội đô và các tỉnh
							thành lân cận, bờ Đông sông Hồng đang dần trở thành trung tâm mới của toàn bộ vùng kinh tế trọng
							điểm Bắc Bộ. Khu vực có lợi thế trở thành tâm điểm giao thương, trung tâm logistics, trung tâm
							công nghệ mới khi tọa lạc ở điểm đầu kết nối vùng Thủ đô với tam giác kinh tế trọng điểm phía
							Bắc là Hà Nội – Hải Phòng - Quảng Ninh.</p>
						<p class="Normal">Hạ tầng đồng bộ cũng giúp khu Đông thuận tiện kết nối tới các cụm, khu công nghiệp
							lớn tại nhiều tỉnh thành phía Bắc ở Bắc Ninh, Hưng Yên..., biến nơi đây thành nơi tập trung cộng
							đồng chuyên gia nước ngoài, tầng lớp trí thức, người thu nhập cao. Không dừng ở đó, thị trường
							cũng chứng kiến làn sóng dịch chuyển của cư dân từ lõi nội đô cũ, chật hẹp sang khu vực bờ Đông
							sông Hồng.</p>
						<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
							itemprop="associatedMedia image" data-size="true">
							<div class="action_thumb flexbox"
								style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
								<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
									</svg>
								</a>
								<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
									</svg>
								</a>
								<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
									href="javascript:;">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
									</svg>
								</a>
							</div>
							<meta
								content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=XxoqdkMC0Dqg1lSJRjAPKg"
								itemprop="url">
							<meta content="1200" itemprop="width">
							<meta content="667" itemprop="height">
							<meta content="" itemprop="href">
							<div class="fig-picture" style="padding-bottom: 55.58%; position: relative;">
								<picture>
									<source
										data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=vdFV-KrVosunfS7FSseOfQ 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=aHAjUhvrW2_aP_09bsqcKQ 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Tt73U_CYy30g1x07tMCVAQ 2x">
									<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
										alt="Vinhomes Ocean Park - đại đô thị đã quy tụ hàng trăm nghìn cư dân. Ảnh: Vinhomes"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										itemprop="contentUrl" loading="lazy"
										data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image005-3787-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=vdFV-KrVosunfS7FSseOfQ"
										intrinsicsize="680x0"
										data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-ll-status="observed">
								</picture>
							</div>
							<figcaption itemprop="description">
								<p class="Image">Vinhomes Ocean Park - đại đô thị đã quy tụ hàng trăm nghìn cư dân. Ảnh:
									Vinhomes</p>
							</figcaption>
						</figure>
						<p class="Normal">Khu Đông Hà Nội vài năm qua liên tục đánh dấu có sự hiện diện của các "ông lớn"
							trên thị trường bất động sản như Vinhomes, Ecopark, Masterise Homes, BRG, Eurowindow... Với quỹ
							đất rộng, có nhiều không gian phát triển, các ông lớn bất động sản cũng đẩy mạnh việc đầu tư các
							khu đô thị quy mô, tích hợp đa dạng tiện ích, dịch vụ bài bản, định hình những chuẩn mực sống
							cao cấp, chinh phục tầng lớp cư dân mới. Những khu đô thị hàng chục, cho tới hàng trăm ha của
							Vingroup, Tập đoàn Ecopark... đang dần được lấp đầy. Ở đó, mức độ phát triển của các tiện ích,
							dịch vụ cũng đã ở một nấc thang mới, với những hoạt động, sự kiện diễn ra thường xuyên trên quy
							mô lớn mang đến một bộ mặt đô thị cao cấp và giàu sức sống.</p>
						<figure class="tplCaption action_thumb_added" itemtype="http://schema.org/ImageObject" itemscope=""
							itemprop="associatedMedia image" data-size="true">
							<div class="action_thumb flexbox"
								style="transform-origin: 0px 0px; display: none; z-index: 9; opacity: 1; transform: scale(1);">
								<a class="share_photo" href="javascript:;" data-type="fb" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-facebook">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Facebook" />
									</svg>
								</a>
								<a class="share_photo" href="javascript:;" data-type="tw" data-reference-id="0">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-twitte">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Twitter" />
									</svg>
								</a>
								<a class="vne_zoom" style="transform-origin: 0px 0px; opacity: 1; transform: scale(1);"
									href="javascript:;">
									<svg xmlns="http://www.w3.org/2000/svg" class="ic ic-zoom">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Zoom" />
									</svg>
								</a>
							</div>
							<meta
								content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=K_gcC9-oHYKcuKoxDXNpKA"
								itemprop="url">
							<meta content="1200" itemprop="width">
							<meta content="899" itemprop="height">
							<meta content="" itemprop="href">
							<div class="fig-picture" style="padding-bottom: 74.86%; position: relative;">
								<picture>
									<source
										data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=rxhW_KdSwadxQtUkkoYQ-w 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=o71x3GBnlW6jreXThzTaig 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=76H2mONYjhuHJvpTuzirow 2x">
									<img class="lazy" style="left: 0px; width: 100%; position: absolute;"
										alt="Cầu vượt Long Hưng, Hưng Yên. Ảnh: Vinhomes"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										itemprop="contentUrl" loading="lazy"
										data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-3939-1669008990.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=rxhW_KdSwadxQtUkkoYQ-w"
										intrinsicsize="680x0"
										data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-ll-status="observed">
								</picture>
							</div>
							<figcaption itemprop="description">
								<p class="Image">Cầu vượt Long Hưng, Hưng Yên. Ảnh: <em>Vinhomes</em>
								</p>
							</figcaption>
						</figure>
						<p class="Normal">Theo ông Lê Hoàng Châu, Chủ tịch Hiệp hội Bất động sản TP HCM (HoREA), Hưng Yên có
							đặc điểm là nếu dùng tỉnh này làm trung tâm, lấy compa vẽ bán kính 200km thì thấy các đô thị lớn
							vùng Trung du và Đồng bằng Bắc Bộ tập trung xung quanh. Như vậy, cư dân đến ở không những được
							thụ hưởng tiện ích dịch vụ mà còn được kết nối. Xung quanh Hưng Yên là các khu công nghiệp, Hải
							Dương cũng có nhiều khu công nghiệp cũng như tại Hải Phòng, Quảng Ninh...</p>
						<p class="Normal">"Tựu chung lại, phía Đông là hướng chiến lược. Các nhà đầu tư phía Nam rất quan
							tâm thị trường phía Đông thủ đô, trong đó có dự án của Vingroup", ông Châu nói.</p>
						<p class="Normal">Nhìn dưới góc độ quy hoạch, khu Đông Hà Nội còn góp phần "giải nén" cho khu vực
							phố cổ và lõi nội đô, vốn đã bị quá tải. Theo đồ án quy hoạch phân khu các quận Hoàn Kiếm, Ba
							Đình, Đống Đa và Hai Bà Trưng, năm 2030, dân số các quận sẽ giảm từ gần 900.000 xuống còn
							670.000. Để đạt được mục tiêu "giãn" dân, Sở Quy hoạch và Kiến trúc Hà Nội cho hay thành phố sẽ
							triển khai các giải pháp đồng bộ, bao gồm việc di dân ra bên ngoài khu vực nội đô; triển khai
							đồng bộ chủ trương di dời trường đại học, bệnh viện, trụ sở bộ ngành...</p>
						<p class="Normal">Theo ông Trần Ngọc Chính - Chủ tịch Hội Quy hoạch Phát triển đô thị Việt Nam, theo
							quy hoạch, Hà Nội hướng tới mở rộng 5 khu đô thị vệ tinh và ba khu đô thị sinh thái, để phù hợp
							với yêu cầu phát triển bền vững trong tương lai. Giải pháp này giúp Thủ đô ngàn năm văn hiến
							phát triển một cách hài hoà, bền vững, bảo lưu được văn hoá, văn hiến.</p>
						<p class="Normal">Còn theo giáo sư Đặng Hùng Võ - nguyên Thứ trưởng Bộ Tài nguyên và Môi trường, quá
							trình phát triển của Hà Nội 5-7 năm gần đây có nhiều biến động. Trong đó có 5 phương án mở rộng
							Hà Nội, mà phương án thứ 5 - lấy sông Hồng đặt giữa Hà Nội, mở rộng phía Đông hơn, mở từ Ba Vì
							tới Hưng Yên, giáp Đền Chử Đồng Tử là phương án hữu hiệu nhất.</p>
						<p class="Normal">Việc phát triển Hà Nội theo hướng tỏa ra hai hướng bờ Đông và bờ Tây sông Hồng
							được coi là địa thế theo phong thủy là bền vững, chắc chắn. Trong đó, phía Đông là nơi Vingroup
							hiện thực hóa những ý tưởng quy hoạch đồng bộ, cả về quy hoạch, tiềm năng, phát triển và tương
							lai của một phong cách sống mới.</p>
						<p class="Normal">Vị chuyên gia ủng hộ cách làm của chủ đầu tư bất động sản của Vingroup khi đặt ra
							chuỗi đô thị ở phía Đông Hà Nội, coi đây là điểm nhấn đầu tiên kéo toàn bộ đô thị phía Đông Hà
							Nội phát triển theo.</p>
						<p class="Normal">"Tư duy của Vingroup vào phía Đông với một dãy đô thị kết nối là sáng sủa, rõ
							ràng, mạch lạc, có ý tưởng, không phải do tư duy cứ có đất trống thì vào làm. Các điểm hiện tại
							như Vinhomes Ocean Park 1-2-3 và Vinhomes Riverside cũng như Times City, đều là điểm đô thị mới,
							mang tư duy phát triển phương Tây", ông Võ nói.</p>
						<p class="Normal">Trong tương lai gần, khi các tuyến đường giao thông tiếp tục được hoàn thiện, giới
							chuyên gia nhận định, khu Đông nhiều tiềm năng bứt tốc trên hành trình trở thành trung tâm mới
							không chỉ của vùng Thủ đô mà còn của cả vùng kinh tế trọng điểm Bắc Bộ.</p>
						<p align="right" class="Normal">
							<strong>Hoài Phong</strong>
						</p>
					</div>
				</article>

				<div class="lazier" id="_detail_topic">

				</div>
			</div>
		</div>
	</section>
	<footer class="footer py-4 col-12" id="footer" >
	<div class="container">
		<div class="d-flex justify-content-between">
		<div class="footer-block footer-company">
				<div class="company-name mt-3 text-uppercase fs-6 text-bold">
						<box-icon name='home-heart' ></box-icon>
						WEBSITE THƯƠNG MẠI BẤT ĐỘNG SẢN HOMESTAYBG.ONLINE
				</div>
				<div class="company-phone mt-2">
						<box-icon name='phone' animation='tada' ></box-icon>
						</i>HOTLINE: 0374123411/0
				</div>
				<div class="company-email mt-2">
						<box-icon type='logo' name='gmail'></box-icon>
						</i>phubinh0001@gmail.com / gianggiang29290101@gmail.com
				</div>
				<div class="company-address mt-2">
						<box-icon type='solid' name='briefcase-alt-2'></box-icon>
						</i>Đại học Công nghiệp Thành phố Hồ Chí Minh 4
				</div>
		</div>
		<div class="footer-block">
			<div class="text-uppercase text-bold fs-6 mb-3">
				<b>Quy định</b>
			</div>
			<nav class="navbar">
				<ul class="navbar-nav text-uppercase fs-7">
					<li>
					<a title="Hướng dẫn tạo in" style="color: black;" class="d-block py-1" href="/cauHoi_user">
							Câu hỏi thường gặp
					</a>
					<li>
					<a class="d-block py-1" style="color: black;" href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=GTvVlcRzCMcpNVKKStjjrRkpGgGmGBjTCXHHtglnfVXJmXGtXbRshKTwBfxXXmPRxNpxwfwSKgRpr">
							Liên hệ
					</a>
					<li>
					<a title="Sitemap" style="color: black;" class="d-block py-1" href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+C%C3%B4ng+nghi%E1%BB%87p+TP.HCM/@10.8224989,106.6880843,15z/data=!4m5!3m4!1s0x3174deb3ef536f31:0x8b7bb8b7c956157b!8m2!3d10.8221589!4d106.6868454">
							Sitemap
					</a>
					<li>
					<a title="Chính sách bảo mật thông tin" style="color: black;" class="d-block py-1" href="#">
							Chính sách bảo mật thông tin
					</a>
					<li>
					<a title="Quy chế hoạt động" style="color: black;" class="d-block py-1" href="#">
							Thông báo
					</a>
				</ul>
			</nav>
		</div>
		<div class="footer-block">
			<div class="text-uppercase  text-bold fs-6 mb-3">
			<b>Hỗ trợ khách hàng</b>
			</div>
			<ul class="list-unstyled">
			<li class="py-1">
			<box-icon name='phone-incoming' type='solid' animation='burst' ></box-icon>
			</i>Tổng đài CSKH: 1800 XXXX

			<li class="py-1">
			<box-icon name='envelope' animation='tada' ></box-icon>
			</i>phubinh0001@gmail.com

			<li class="py-1">
			<box-icon name='shield' animation='spin' ></box-icon>
			</i>Hỗ trợ kỹ thuật: 0789 xxx xxx
			</ul>
			<div class="footer-social d-flex justify-content-between align-items-center">
			<a href="https://www.facebook.com/yumi.giaqq" >
					<box-icon style="color: white;" type='logo' name='facebook-square'></box-icon>
			</a>
			<a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNqLdNfPkBmcSGSdLDCWWpHjVczDCMpqPQHsQGhQKcqBKnMFkTzVCmcGQcXkwMpStmpqtg" >
					<box-icon name='gmail' type='logo' ></box-icon>
			</a>
			<a href="https://twitter.com/Phubinh10" >
					<box-icon type='logo' name='twitter'></box-icon>
			</a>
			<a href="https://www.youtube.com/@nguyenphubinh1320/featured" >
					<box-icon type='logo' name='youtube'></box-icon>
			</a>
					
			</div>
			<div class="footer-regitered mt-3">
					
			</div>
		</div>
		</div>
		<div class="footer-copyright text-center fs-8 mt-3">
		<div class="copyright-text">All content © copyright Homestaybg.online. All rights reserved</div>
		<p>
			<a title="DMCA.com Protection Status" class="dmca-badge" href="/"> <img width="100" height="20" alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-10.png?ID=86a822a3-2466-4e71-abef-6a2339123236">
			</a>
		</p>
		</div>
	</div>
	</footer>
</body>
</html>

<style>
* {
        font-size: large !important;
        -webkit-tap-highlight-color: transparent;
}
html {
        margin: 0;
        padding: 0;
        border: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        font-family: "Roboto Regular" !important;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        border: none;
}
*, *::before, *::after {
        box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select {
        font-family: Roboto,Arial;
        font-size: 14px;
        margin: 0;
        text-decoration: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
        padding: 0;
}
a {
        color: #000;
}
a {
        text-decoration: none;
}
.bg-site, body {
        background-color: #f4f5f7;
}
.re__bg-header {
        background: #fff;
        width: 100%;
        height: 96px;
        margin: 0px;
        padding: 0px;
}
body {
        background: #fff;
        line-height: 18px;
        text-rendering: optimizeLegibility;
}
body {
        line-height: 18px;
}
.re__body {
        background: #fff;
}
/* @media only screen and (min-width:1140px) */
.re__body {
        min-width: 1140px !important;
}
.re__full-menu {
        background: #fff;
        width: 100%;
        height: 96px;
        margin: 0 auto;
        position: relative;
        z-index: 999;
        padding: 17px 15px 17px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(182,182,182,0.18);
}
ul li {
        list-style-type: none;
}
.homemain, .top-search, .tablet, .zompchat, .livechatwidget {
        display: none !important;
}
ul.re__dropdown-no-art--sm li {
        font-family: "Roboto Regular" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        padding: 6px 16px;
        position: relative;
        cursor: pointer;
        color: #2c2c2c;
}
.re__container-sm, li.lv0.tablet {
        display: none !important;
}
.re__full-menu .re__control-menu {
        float: right;
        padding-right: 16px;
        color: #2c2c2c;
        height: 96px;
        display: table;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 9999999;
}
.re__full-menu .re__drop-menu .re__left-menu {
        float: left;
}
.re__full-menu .re__drop-menu .re__right-menu {
        float: left;
}
.clear {
        clear: both;
        height: 0px;
}
ol, ul {
        padding-left: 0px;
}
ol, ul, dl {
        margin-top: 0px;
        margin-bottom: 0px;
}
ol ol, ul ul, ol ul, ul ol {
        margin-bottom: 0px;
}
ul.re__dropdown-no-art--sm {
        border-radius: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0px 8px 20px rgba(182,182,182,0.3);
        background: #fff;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm {
        display: table-row;
        float: left;
        position: relative;
        z-index: 2147483647;
        box-shadow: none;
        border-radius: 0;
        padding-left: 0px;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 {
        float: left;
        padding: 12px 0px 8px;
        margin-left: 24px;
        display: inline-grid;
        list-style: none;
        vertical-align: middle;
        position: relative;
        float: left;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0.re__btn-menu {
        display: none;
}
.re__btn {
        font-style: normal;
        outline: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        box-shadow: none !important;
}
.re__btn-se-border--md {
        color: #2c2c2c;
        background: #fff;
        border: solid 1px #ccc;
        font-family: "Lexend Medium" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: -0.2px;
        padding: 13px 15px;
        border-radius: 8px;
}
.re__btn-pr-solid--md {
        color: #fff;
        background: #E03C31;
        border: solid 1px #E03C31;
        font-family: "Lexend Medium" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: -0.2px;
        padding: 13px 15px;
        border-radius: 8px;
}
.re__btn-se-ghost--md {
        color: #2c2c2c;
        background: rgba(0,0,0,0);
        border: solid 1px rgba(0, 0, 0, 0);
        font-family: "Lexend Medium" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: -0.2px;
        padding: 13px 15px;
        border-radius: 8px;
}
.re__btn.re__btn-icon--md {
        line-height: 1px !important;
}
ul.re__dropdown-no-art--sm li ul {
        position: absolute;
        top: 0px;
        left: 100%;
        display: none;
}
.re__hover-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm .lv0 ul {
        display: none;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 ul {
        top: 100%;
        left: 0px;
        display: none;
        min-width: 240px;
        padding: 8px 0px !important;
        z-index: 99999;
}
[class^='re__icon-'], [class*=' re__icon-'] {
        font-family: "font-icon-bds" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 24px;
        line-height: 1;
}
.re__icon-browse::before {
        content: "\e922";
        color: #999;
}
.re__icon-heart::before {
        content: "\e963";
}
.re__btn.re__btn-icon--md i {
        margin-top: -2px;
        margin-bottom: -2px;
        margin-right: -4px;
        margin-left: -4px;
        font-size: 24px !important;
        display: block;
}
ul.re__dropdown-no-art--sm li a {
        display: block;
}
.re__hover-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li a {
        color: #2c2c2c;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 a {
        padding: 0px;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 ul li {
        width: 100%;
        float: left;
        padding: 0px;
        list-style: none;
}
.re__hover-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm .lv0 ul li.lv1 a {
        background: rgba(0,0,0,0);
        color: #2c2c2c;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 ul li a {
        padding: 6px 16px;
        white-space: nowrap;
        margin: 0;
        font-family: "Roboto Regular" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
}
.re__hover-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm .lv0 ul li.lv1 ul {
        display: none;
        margin-left: 0px;
        top: -8px;
        left: 240px !important;
}
.re__hover-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li a span {
        color: #2c2c2c;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 a span.icon {
        display: none;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 a .text {
        font-family: "Lexend Medium" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: -0.2px;
}
img, svg {
        vertical-align: middle;
}
a img {
        border: none;
}
img.lazyload {
        content: url(/images/common/lazyload-preview.svg);
        object-fit: cover;
}
img.lazyload {
        content: url(/images/common/lazyload-preview.svg);
        object-fit: cover;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 .lv2 ul {
        width: 140px;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 a span.text-new-content {
        font-weight: bold !important;
        font-style: normal;
        font-size: 10px;
        line-height: 8px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        background-color: #e03c31;
        padding: 2px 4px 2px 4px;
        margin-left: 4px;
        margin-right: 0px;
        margin-bottom: 3px !important;
        width: 28px;
        height: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        top: -2px;
        position: relative;
}
.re__full-menu .re__drop-menu .re__right-menu .re__dropdown-navigative-menu.re__dropdown-no-art--sm li.lv0 a span.text-new-content-top {
        position: absolute !important;
        top: -7px !important;
        right: 0px;
        padding: 4px 4px 4px 4px !important;
        width: 25px;
}
.visual-hidden {
        border: 0 none;
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}
.re__full-menu .re__drop-menu .re__left-menu img {
        height: 48px;
        margin-top: 8px;
}
[aria-label][role~='tooltip'] {
        position: relative;
}
.re__footer {
        background: #f2f2f2;
}
.re__full-menu .re__control-menu div {
        display: table-cell;
        vertical-align: middle;
}
#divUserStt a {
        cursor: pointer;
}
#divUserStt .re__btn {
        float: left;
}
.re__full-menu .re__control-menu #divUserStt .re__line {
        border: 0;
        float: left;
        width: 1px;
        height: 16px;
        background: #e5e5e5;
        margin: 15px 0;
}
#divUserStt :last-child.re__btn {
        margin-right: 8px;
}
[aria-label][role~='tooltip']::after {
        font-family: "Roboto Regular" !important;
        font-size: 12px !important;
        line-height: 16px !important;
        font-weight: normal !important;
        color: #fff;
        background: rgba(0,0,0,0.8) !important;
        padding: 8px 12px !important;
}
[role~='tooltip'][data-microtip-position='bottom']::before {
        background: url(/images/tooltip/tooltip-bottom.svg) no-repeat;
        width: 12px;
        height: 8px;
}
[aria-label][role~='tooltip']::before, [aria-label][role~='tooltip']::after {
        transform: translate3d(0px, 0px, 0px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        opacity: 0;
        pointer-events: none;
        transition: all var(--microtip-transition-duration,.18s) var(--microtip-transition-easing,ease-in-out) var(--microtip-transition-delay,0s);
        position: absolute;
        box-sizing: border-box;
        z-index: 10;
        transform-origin: top;
}
[aria-label][role~='tooltip']::before {
        background-size: 100% auto !important;
        content: "";
}
[aria-label][role~='tooltip']::after {
        background: rgba(17,17,17,.9);
        border-radius: 4px;
        color: #fff;
        content: attr(aria-label);
        font-size: var(--microtip-font-size,13px);
        font-weight: var(--microtip-font-weight,normal);
        text-transform: var(--microtip-text-transform,none);
        padding: .5em 1em;
        white-space: nowrap;
        box-sizing: content-box;
}
[role~='tooltip'][data-microtip-position|='bottom']::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 6px;
        width: 18px;
        margin-top: 5px;
        margin-bottom: 0px;
}
[role~='tooltip'][data-microtip-position|='bottom']::after {
        margin-top: 11px;
}
[role~='tooltip'][data-microtip-position|='bottom']::before {
        transform: translate3d(-50%, -10px, 0px);
        bottom: auto;
        left: 50%;
        top: 100%;
}
[role~='tooltip'][data-microtip-position|='bottom']::after {
        transform: translate3d(-50%, -10px, 0px);
        top: 100%;
        left: 50%;
}
.re__full-menu .re__control-menu .re__notification .re__all-btn {
        position: relative;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup {
        position: absolute;
        background: #fff;
        box-shadow: 0px 8px 20px rgba(182,182,182,0.42);
        border-radius: 4px;
        overflow: hidden;
        width: 400px;
        left: -163px;
        z-index: 9999;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup div {
        display: inherit !important;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__header, .re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__content, .re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__footer {
        float: left;
        width: 100%;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__header {
        text-align: center;
        color: #2c2c2c;
        padding: 12px 0;
        border-bottom: 1px solid #F2F2F2;
        font-family: "Lexend Medium" !important;
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: normal !important;
        letter-spacing: -0.2px !important;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__content {
        max-height: 500px;
        overflow-y: auto;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__footer {
        background: rgba(0,0,0,0);
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #F2F2F2;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__footer::after {
        content: "";
        clear: both;
        display: block;
}
.re__link-pr {
        color: #e03c31;
        font-family: "Roboto Regular" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__footer .re__marked-products-view-more {
        display: inline-block;
        vertical-align: middle;
}
.re__link-pr span {
        font-family: "Roboto Regular" !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        float: left;
        margin-right: 4px;
}
.re__icon-arrow-right--sm::before {
        content: "\e9d8";
}
.re__link-pr i {
        font-size: 16px;
        padding: 2px 0px;
        float: left;
}
[class^='re__icon-'][class*='--sm'], [class*=' re__icon-'][class*='--sm'] {
        font-size: 16px;
}
p {
        margin-top: 0px;
        margin-bottom: 1rem;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__content p.re__center {
        margin-top: 24px;
        margin-bottom: 38px;
        overflow: hidden;
        text-align: center;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__content img {
        height: 48px;
        width: 64px;
        float: left;
        border-radius: 4px;
}
.re__full-menu .re__control-menu .re__notification .re__marked-products-popup .re__content p.re__center img {
        float: none;
        height: 174px;
        width: 177px;
}
.re__full-menu .re__control-menu .re__mnu-notify-icon-unread, .re__full-menu .re__control-menu .mnu-notify-icon-unread {
        font-family: "Roboto Bold" !important;
        font-size: 10px;
        line-height: 12px;
        font-weight: normal !important;
        font-size: 10px !important;
        color: #fff;
        position: absolute;
        background: #da1030;
        border-radius: 6px;
        left: 27px;
        top: 2px;
        min-width: 14px;
        min-height: 16px;
        line-height: 16px;
        padding-left: 1px;
        padding-right: 1px;
        text-align: center;
        cursor: pointer;
        font-style: normal;
        border: 2px solid #fff;
        z-index: 99;
        display: inline-table;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
}
.re__hide {
        display: none !important;
}
.re__state-icon--md {
        padding: 4px;
        border-radius: 4px;
        color: #2c2c2c;
        background: rgba(0,0,0,0);
        width: auto;
        display: inline-block;
        line-height: 0;
}
.re__icon-menu-hamburger::before {
        content: "\e993";
}
.re__icon-arrow-left::before {
        content: "\e919";
}
.re__state-icon--md i {
        font-size: 24px;
        line-height: 24px;
}
.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.footer {
	background: #b8b4b4;
	color: #0e0a0a;
}
.container, .container-fluid, .container-xxl {
	width: 100%;
	padding-right: var(--gutter-x,.75rem);
	padding-left: var(--gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:1400px) */
.container-xxl, .container-xl, .container-lg, .container {
	max-width: 1320px;
}
.d-flex, .search .suggestions-list .suggestion-item, .favorite-list-item > a, .favorite-list-header, .favorite-list-item .content, .dialog-footer, .dialog-alert, .dialog-confirm, .check-list, .check-inline, .input-group-icon {
	display: flex !important;
}
.justify-content-between, .search .suggestions-list .suggestion-item, .favorite-list-header, .dialog-footer {
	justify-content: space-between !important;
}
.mt-3, .search-row, .social-login.facebook {
	margin-top: 1rem !important;
}
.fs-8 {
	font-size: 0.81rem !important;
}
.text-center, .expandable .block-description figure figcaption, .expandable .expand-bar, .home-investor .investor-control-next, .home-investor .investor-control-prev, .search-home .search-nav input[type=radio] + .nav-type-name, .dropdown-selection-empty, .dropdown-selection-group, .empty-content, .toc_title, .section-title-center, .favorite-empty, .favorite-list-footer, .dialog-footer, .dialog {
	text-align: center !important;
}
p {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.footer-copyright p {
	margin: 0;
}
a {
	color: #cfa267;
	text-decoration: unset;
}
.d-block {
	display: block !important;
}
.py-1, .search .suggestions-list .suggestion-item {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}
.footer a {
	color: #b3b3b3;
}
img, svg {
	vertical-align: middle;
}
.mb-3, .dialog-title {
	margin-bottom: 1rem !important;
}
.fs-6, .expandable .block-description h3, .expandable .block-description .h3, .toc_list {
	font-size: 1rem !important;
}
.fs-7, .expandable .block-description figure figcaption, .header {
	font-size: 0.87rem !important;
}
.text-uppercase, .search-home .search-nav input[type=radio] + .nav-type-name, .section-title, .aside-title, .favorite-list-item .title, .favorite-list-header {
	text-transform: uppercase !important;
}
.text-dark-yellow, .empty-content {
	color: #b87926 !important;
}
.text-bold, .dropdown-selection-empty-text > p, .dropdown-selection-group, .search .suggestions-list .suggestion-group, .header, .section-title, .aside-link.active a, .aside-title, .favorite-list-item .title, .dialog-button, .dialog-body {
	font-weight: 500;
}
ol, ul {
	padding-left: 2rem;
}
ol, ul, dl {
	margin-top: 0px;
	margin-bottom: 1rem;
}
.list-unstyled, .toc_list {
	padding-left: 0px;
	list-style: none;
}
.align-items-center, .search .suggestions-list .suggestion-item, .dialog-footer, .input-group-icon {
	align-items: center !important;
}
img:not([src]).lazyload {
	visibility: hidden;
}
.footer-social a {
	color: #fff;
}
.me-2, .favorite-list-item .img {
	margin-right: 0.5rem !important;
}
.icon-phone::before {
	content: "";
}
.mt-2 {
	margin-top: 0.5rem !important;
}
</style>
<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}

	.page-detail .sidebar-1 {
		width: 100%;
		max-width: calc(100% - 365px);
		padding: 20px 0 0 0;
		position: relative;
	}

	.page-detail.top-detail .sidebar-1 {
		width: 100%;
		max-width: calc(100% - 430px);
		padding: 20px 0 0 0;
	}

	.container {
		width: 100%;
		max-width: 1130px;
		padding: 0 15px;
		margin: 0 auto;
		position: relative;
	}

	.container::after {
		content: "";
		display: table;
		clear: both;
	}

	.wrap_pic,
	.wrap_pic .block_thumb_wrap,
	.social-com,
	.detail-live .fck_detail .wrap-img-content,
	.detail-live .header-live .social,
	.detail-live .wrap-notifile,
	.tab-comment .header-tab,
	.page-detail .container,
	.header-social .social,
	.score-table,
	.score-table .group {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.page-detail.top-detail .container {
		background: #fcfaf6;
	}

	.section {
		width: 100%;
		float: left;
	}

	.page-detail.top-detail {
		background: #fcfaf6;
		border-bottom: 1px solid #e0e0e0;
	}

	html,
	body {
		text-rendering: optimizeLegibility;
	}

	body {
		color: #222;
		font: 400 15px arial;
		min-height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	html {
		-webkit-text-size-adjust: none;
	}

	.width_common {
		width: 100%;
		float: left;
	}

	.page-detail .header-content,
	.page-detail .width-detail-photo {
		margin-bottom: 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: inherit;
		font-size: inherit;
		font-weight: inherit;
	}

	.detail-live .tab-live,
	.detail-live .title-block-live,
	.tab-comment .header-tab,
	.box_note_join .tit_note,
	.box_about_author .name_au,
	.block-khachmoi .txt-km,
	.page-detail .related-list li,
	.page-detail .title-detail,
	.score-table,
	.block_reply_tv .tit_reply,
	.item_quiz .tittle_quiz {
		font-feature-settings: "pnum" 1, "lnum" 1;
		-webkit-font-feature-settings: "pnum" on, "lnum" on;
		-moz-font-feature-settings: "pnum" on, "lnum" on;
		-ms-font-feature-settings: "pnum" 1, "lnum" 1;
	}

	.page-detail .title-detail {
		font-size: 32px;
		line-height: 150%;
		font-family: "Merriweather", serif;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.page-detail .description {
		font-size: 18px;
		line-height: 160%;
		font-weight: 400;
		margin-bottom: 15px;
	}

	.fck_detail {
		width: 100%;
		float: left;
		position: relative;
		font: 400 18px arial;
		line-height: 160%;
		padding: 0;
		color: #222;
	}

	a {
		color: inherit;
		text-decoration: none;
		outline: 1;
	}

	.page-detail .footer-content,
	.page-detail .footer-content .social,
	.page-detail .footer-content .social a,
	.page-detail .related-news,
	.page-detail .list-topic {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.page-detail .footer-content {
		margin-bottom: 20px;
	}

	.lazier {
		width: 1px;
		height: 1px;
	}

	.lazier {
		width: 1px;
		height: 1px;
		clear: both;
	}

	.page-detail .footer-content .save {
		background: #fff;
		width: 80px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		display: inline-block;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		color: #4f4f4f;
	}

	.page-detail .footer-content .back-folder {
		width: auto;
		padding: 0 15px;
		margin-right: 10px;
		position: relative;
		transition-duration: 300ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		overflow: hidden;
	}

	.page-detail .footer-content .social {
		margin-left: auto;
	}

	.page-detail .footer-content .social .txt {
		line-height: 40px;
		color: #4f4f4f;
	}

	.page-detail .footer-content .social a {
		background: #fff;
		position: relative;
		width: 32px;
		height: 32px;
		border: 1px solid #e5e5e5;
		border-radius: 50%;
		margin-left: 10px;
		align-self: center;
		justify-content: center;
	}

	.ic {
		width: 16px;
		height: 16px;
		fill: #757575;
		display: inline-block;
		vertical-align: middle;
	}

	.page-detail .footer-content .social a svg {
		align-self: center;
	}

	.tip {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
		height: 24px;
		line-height: 24px;
		background: #17191a;
		color: #fff !important;
		font-size: 12px !important;
		text-decoration: none !important;
		white-space: nowrap;
		padding: 0 10px;
		border-radius: 3px;
	}

	.page-detail .footer-content .save svg {
		width: 24px;
		height: 24px;
		fill: #076db6;
		margin-right: 2px;
	}

	.page-detail .footer-content .back-folder .ic {
		fill: #757575;
		width: 16px;
		height: 16px;
		transform: rotate(180deg);
	}

	.page-detail .footer-content .back-folder .tip {
		left: 20px;
		transform: none;
		top: 0px;
		opacity: 0;
		transition-duration: 200ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		visibility: hidden;
	}

	figure {
		margin: 0 auto 20px;
		max-width: 100%;
		clear: both;
	}

	figure {
		position: relative;
	}

	figure::before {
		transition-duration: 250ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
		opacity: 0;
		visibility: hidden;
		top: 10px;
		left: 10px;
		content: "Bấm để xem chi tiết";
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		background: rgba(34, 34, 34, .8);
		padding: 8px 9px;
		border-radius: 3px;
		position: absolute;
	}

	.fck_detail .tplCaption {
		text-align: center;
	}

	.fck_detail figure.tplCaption {
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 15px;
	}

	.fck_detail .Normal,
	.fck_detail p {
		margin: 0 0 1em;
		line-height: 160%;
		text-rendering: optimizeSpeed;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.flexbox {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.action_thumb {
		position: absolute;
		top: 10px;
		right: 10px;
		background: #17191A;
		height: 32px;
		border-radius: 3px;
	}

	.flexbox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.fck_detail figure.tplCaption .fig-picture {
		width: 100%;
		float: left;
		display: table;
		justify-content: center;
		background: #f0eeea;
		text-align: center;
	}

	.fck_detail figure.tplCaption figcaption {
		width: 100%;
		float: left;
		text-align: left;
	}

	.fck_detail p.Image {
		margin: 0;
		padding: 5px;
	}

	.fck_detail figure.tplCaption figcaption p {
		font: 400 14px/160% arial;
		padding-top: 10px;
		margin-bottom: 0px;
	}

	.fck_detail .tplCaption .Image {
		text-align: left;
	}

	.fck_detail table.tplCaption td.caption,
	.fck_detail table.tplCaption td.Image,
	.fck_detail table.tplCaption td p.Normal,
	.fck_detail table.tplCaption td .Image,
	.fck_detail .tplCaption .Image {
		font: 400 14px arial;
		line-height: 160%;
		color: #222;
		padding: 10px 0 0 0;
		margin: 0;
		text-align: left;
	}

	img {
		border: 0;
		font-size: 0px;
		line-height: 0;
		max-width: 100%;
	}

	.lazy {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.fck_detail .tplCaption img {
		max-height: 700px;
	}

	.fck_detail figure.tplCaption img {
		max-height: 700px;
	}

	.short_intro a,
	.fck_detail a {
		color: #076db6;
		position: relative;
		text-decoration: underline;
		text-underline-position: under;
	}

	.action_thumb a {
		padding: 0 10px;
		height: 32px;
		line-height: 30px;
		color: #fff;
	}

	.action_thumb a::before {
		display: none;
	}

	.action_thumb a .ic {
		fill: #bdbdbd;
	}

	#video_outstream {
		margin-bottom: 10px;
	}

	.txt_ads {
		overflow: hidden;
		font: 400 .8rem Arial;
		margin: 0 auto;
		width: 50%;
		color: #bdbdbd;
		margin-bottom: 5px;
		text-align: center;
	}

	.txt_ads::before {
		right: 0.5em;
		margin-left: -50%;
	}

	.txt_ads::after {
		left: 0.5em;
		margin-right: -50%;
	}

	.txt_ads::before,
	.txt_ads::after {
		background-color: #E5E5E5;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}

	ul,
	li {
		list-style-type: none;
	}

	.breadcrumb {
		float: left;
	}

	.page-detail .header-content .date,
	.page-detail .width-detail-photo .date {
		float: right;
		color: #757575;
		font-size: 14px;
	}

	.breadcrumb li {
		position: relative;
		display: inline-block;
		line-height: 16px;
		font-size: 14px;
		color: #757575;
		margin-right: 25px;
	}

	.breadcrumb li::after {
		content: "";
		width: 7px;
		height: 7px;
		border-top: 1px solid #bdbdbd;
		border-right: 1px solid #bdbdbd;
		transform: rotate(45deg);
		position: absolute;
		left: -19px;
		top: 5px;
	}

	.breadcrumb li:first-child {
		color: #076db6;
	}

	.breadcrumb li:first-child::after {
		content: none;
	}

	.breadcrumb li a {
		display: inline-block;
	}
</style>