<section class="section page-detail">
    <div class="">
        <div class="sidebar-1">
            <div class="header-content width_common">
                <span class="date">Thứ hai, 21/11/2022, 11:00 (GMT+7)</span>
            </div>

            <h1 class="title-detail">Khách mua nhà phố Phúc An Asuka được vay vốn 5 năm </h1>

            <p class="description"><span class="location-stamp">An Giang</span>Người mua nhà phố tại Phúc An Asuka
                sẽ được Trần Anh Group hỗ trợ vay vốn trong 5 năm.</p>

            <article class="fck_detail ">
                <div id="divfirst">
                    <p class="Normal">Khu đô thị Phúc An Asuka có quy mô 100 ha, tọa lạc trên mặt tiền Quốc lộ 91,
                        TP Châu Đốc (An Giang), cung cấp ra thị trường 2.000 sản phẩm bao gồm biệt thự, nhà phố. Đơn
                        vị phát triển dự án Trần Anh Group hiện đưa ra chính sách ưu đãi, hỗ trợ khách hàng mua sản
                        phẩm tại dự án.</p>
                    <p class="Normal">Cụ thể, khách hàng có nhu cầu mua nhà phố Phúc An Asuka sẽ được tiếp cận nguồn
                        vốn 70% giá trị xây dựng hoặc 48% giá trị hợp đồng trong 5 năm, lãi suất 12% mỗi năm. Như
                        vậy, người mua chỉ cần bỏ ra khoảng 30-52% vốn để sở hữu một nhà phố xây dựng bàn giao thô.
                        Ngoài ra, khách hàng được tặng thêm một phiếu quà tặng nội thất trị giá 50 triệu đồng trong
                        vòng 6 tháng nhận nhà.</p>
                    <p class="Normal">"Đây là chương trình ưu đãi mà chúng tôi dành tặng cho khách hàng vào dịp cuối
                        năm, tạo điều kiện để người mua sở hữu căn nhà phố cao cấp", đại diện Trần Anh Group cho
                        biết.</p>
                    <figure class="tplCaption" itemtype="http://schema.org/ImageObject" itemscope=""
                        itemprop="associatedMedia image" data-size="true">
                        <meta
                            content="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=9kAyULE7cQovf6M8eMgngg"
                            itemprop="url">
                        <meta content="1379" itemprop="width">
                        <meta content="776" itemprop="height">
                        <meta content="" itemprop="href">
                        <div class="fig-picture" style="padding-bottom: 56.27%; position: relative;">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source
                                    srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7VUSkVqFXNMVJqWkhKC8fw 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=bAdHOkhPR42nq-ExUqqKng 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Ek2Eecl3qfCh1AsLS128fQ 2x"
                                    data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7VUSkVqFXNMVJqWkhKC8fw 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=bAdHOkhPR42nq-ExUqqKng 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Ek2Eecl3qfCh1AsLS128fQ 2x">
                                <!--[if IE 9]></video><![endif]-->
                                <img class="lazy lazied" style="left: 0px; width: 100%; position: absolute;"
                                    alt="Dãy nhà phố tại khu đô thị Phúc An Asuka. Ảnh: Trần Anh Group"
                                    src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7VUSkVqFXNMVJqWkhKC8fw"
                                    itemprop="contentUrl" loading="lazy"
                                    data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7VUSkVqFXNMVJqWkhKC8fw"
                                    intrinsicsize="680x0"
                                    data-pfsrc="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-6500-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7VUSkVqFXNMVJqWkhKC8fw"
                                    data-ll-status="loaded">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">Dãy nhà phố tại khu đô thị Phúc An Asuka. Ảnh: <em>Trần Anh Group</em>
                            </p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Khu đô thị Phúc An Asuka nằm tại trung tâm thành phố Châu Đốc, hưởng lợi hạ
                        tầng và giao thông khu vực. Dự án đánh dấu sự tham gia của Trần Anh Group tại thị trường An
                        Giang với quy hoạch theo phong cách Nhật Bản, nhiều tiện ích, công viên cây xanh, tạo không
                        khí trong lành mát mẻ.</p>
                </div>
                <div id="admbackground" data-set="dfp">
                    <div id="video_outstream" style="display: none;">
                        <div class="txt_ads">Quảng cáo</div>
                        <div id="sis_outstream" style="text-align: center;"
                            data-google-query-id="CJKPsOykw_sCFfNfDwId7V8Lcw">
                            <div id="google_ads_iframe_/27973503/Vnexpress/Desktop/Outstream/Kinhdoanh/kinhdoanh.batdongsan.detail_0__container__"
                                style="border: 0pt currentColor; border-image: none;"></div>
                        </div>
                    </div>
                </div>
                <div id="divend">
                    <p class="Normal">Đại diện đơn vị phát triển cho biết, khu đô thị hiện hoàn thiện và đưa vào vận
                        hành hai tổ hợp tiện ích lớn là công viên Kazuko và clubhouse Yamato, thu hút nhiều du khách
                        tham quan, trải nghiệm. Bên cạnh đó, những dãy nhà phố thuộc phân khu Takara tại dự án cũng
                        dần thi công về đích.</p>
                    <p class="Normal">Vài năm trở lại đây, khu vực Tây Nam Bộ nhận nhiều quan tâm trong chiến lược
                        phát triển. Khu vực này được chú trọng đầu tư hạ tầng, giao thông, thu hút đầu tư, tạo đòn
                        bẩy cho bất động sản. Trong đó, An Giang là địa phương được giới đầu tư đánh giá mang nhiều
                        tiềm năng và cơ hội.</p>
                    <figure class="tplCaption" itemtype="http://schema.org/ImageObject" itemscope=""
                        itemprop="associatedMedia image" data-size="true">
                        <meta
                            content="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phuc-an-2-8944-1668769591.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=PkPgm7rb0n4OAVOqlH-Tfw"
                            itemprop="url">
                        <meta content="1379" itemprop="width">
                        <meta content="777" itemprop="height">
                        <meta content="" itemprop="href">
                        <div class="fig-picture" style="padding-bottom: 56.31%; position: relative;">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source
                                    data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phuc-an-2-8944-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7AUhOYSVX2mErTq70CY8qg 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phuc-an-2-8944-1668769591.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=dyelxI0GWMTOGuoffioKWg 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/18/phuc-an-2-8944-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=e_j_FX_BI6xTqIRI0mmyCA 2x">
                                <!--[if IE 9]></video><![endif]-->
                                <img class="lazy" style="left: 0px; width: 100%; position: absolute;"
                                    alt="Phối cảnh cổng vào khu đô thị Phúc An Asuka. Ảnh: Trần Anh Group"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    itemprop="contentUrl" loading="lazy"
                                    data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phuc-an-2-8944-1668769591.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=7AUhOYSVX2mErTq70CY8qg"
                                    intrinsicsize="680x0"
                                    data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-ll-status="observed">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">Phối cảnh cổng vào khu đô thị Phúc An Asuka. Ảnh: <em>Trần Anh
                                    Group</em></p>
                        </figcaption>
                    </figure>
                    <p class="Normal">An Giang là địa phương có tốc độ tăng trưởng cao, được xem là vựa lúa gạo, cá
                        tra lớn của đồng bằng sông Cửu Long và cả nước. Theo thống kê, trong 9 tháng đầu năm 2022,
                        tốc độ tăng trưởng kinh tế tỉnh đạt 6,47% so cùng kỳ, vượt kịch bản tăng trưởng đề ra
                        (5,28%). Ngoài ra, cơ sở hạ tầng được địa phương đẩy mạnh với nhiều công trình giao thông
                        trọng điểm như dự án cao tốc Châu Đốc - Cần Thơ - Sóc Trăng.</p>
                    <p class="Normal">Châu Đốc là đô thị loại hai của tỉnh An Giang, sở hữu lợi thế cảnh quan thiên
                        nhiên, núi non, là điểm du lịch tâm linh nổi tiếng, thu hút hàng triệu du khách ghé đến mỗi
                        năm. Những năm gần đây, thành phố ghi nhận tăng trưởng về kinh tế, hạ tầng đầu tư đồng bộ.
                        Các chuyên gia đánh giá, hưởng lợi từ du lịch và kinh tế, tiềm năng nhà ở tại khu vực này
                        lớn, đáp ứng nhu cầu sống của cư dân, người lao động và du khách.</p>
                    <p class="Normal">"Mang nhiều lợi thế vị trí, quy hoạch, chính sách ưu đãi, khu đô thị Phúc An
                        Asuka mang kỳ vọng thêm nguồn cung nhà ở, góp phần thay đổi diện mạo thành phố Châu Đốc, đón
                        sóng dịch chuyển của cư dân về khu vực miền Tây Nam Bộ", đại diện nhà phát triển nhấn mạnh.
                    </p>
                    <p align="right" class="Normal"><strong>Hoàng Khải</strong></p>
                </div>
            </article>

            <div class="lazier" id="_detail_topic"></div>
        </div>
    </div>
</section>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        text-rendering: optimizeLegibility;
    }

    .page-detail .sidebar-1 {
        width: 100%;
        max-width: calc(100% - 365px);
        padding: 20px 0 0 0;
        position: relative;
    }

    .page-detail.top-detail .sidebar-1 {
        width: 100%;
        max-width: calc(100% - 430px);
        padding: 20px 0 0 0;
    }

    .container {
        width: 100%;
        max-width: 1130px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
    }

    .container::after {
        content: "";
        display: table;
        clear: both;
    }

    .wrap_pic,
    .wrap_pic .block_thumb_wrap,
    .social-com,
    .detail-live .fck_detail .wrap-img-content,
    .detail-live .header-live .social,
    .detail-live .wrap-notifile,
    .tab-comment .header-tab,
    .page-detail .container,
    .header-social .social,
    .score-table,
    .score-table .group {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .page-detail.top-detail .container {
        background: #fcfaf6;
    }

    .section {
        width: 100%;
        float: left;
    }

    .page-detail.top-detail {
        background: #fcfaf6;
        border-bottom: 1px solid #e0e0e0;
    }

    html,
    body {
        text-rendering: optimizeLegibility;
    }

    body {
        color: #222;
        font: 400 15px arial;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    html {
        -webkit-text-size-adjust: none;
    }

    .width_common {
        width: 100%;
        float: left;
    }

    .page-detail .header-content,
    .page-detail .width-detail-photo {
        margin-bottom: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    .detail-live .tab-live,
    .detail-live .title-block-live,
    .tab-comment .header-tab,
    .box_note_join .tit_note,
    .box_about_author .name_au,
    .block-khachmoi .txt-km,
    .page-detail .related-list li,
    .page-detail .title-detail,
    .score-table,
    .block_reply_tv .tit_reply,
    .item_quiz .tittle_quiz {
        font-feature-settings: "pnum" 1, "lnum" 1;
        -webkit-font-feature-settings: "pnum" on, "lnum" on;
        -moz-font-feature-settings: "pnum" on, "lnum" on;
        -ms-font-feature-settings: "pnum" 1, "lnum" 1;
    }

    .page-detail .title-detail {
        font-size: 32px;
        line-height: 150%;
        font-family: "Merriweather", serif;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .page-detail .description {
        font-size: 18px;
        line-height: 160%;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .fck_detail {
        width: 100%;
        float: left;
        position: relative;
        font: 400 18px arial;
        line-height: 160%;
        padding: 0;
        color: #222;
    }

    a {
        color: inherit;
        text-decoration: none;
        outline: 1;
    }

    .page-detail .footer-content,
    .page-detail .footer-content .social,
    .page-detail .footer-content .social a,
    .page-detail .related-news,
    .page-detail .list-topic {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .page-detail .footer-content {
        margin-bottom: 20px;
    }

    .lazier {
        width: 1px;
        height: 1px;
    }

    .lazier {
        width: 1px;
        height: 1px;
        clear: both;
    }

    .page-detail .footer-content .save {
        background: #fff;
        width: 80px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        color: #4f4f4f;
    }

    .page-detail .footer-content .back-folder {
        width: auto;
        padding: 0 15px;
        margin-right: 10px;
        position: relative;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        overflow: hidden;
    }

    .page-detail .footer-content .social {
        margin-left: auto;
    }

    .page-detail .footer-content .social .txt {
        line-height: 40px;
        color: #4f4f4f;
    }

    .page-detail .footer-content .social a {
        background: #fff;
        position: relative;
        width: 32px;
        height: 32px;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        margin-left: 10px;
        align-self: center;
        justify-content: center;
    }

    .ic {
        width: 16px;
        height: 16px;
        fill: #757575;
        display: inline-block;
        vertical-align: middle;
    }

    .page-detail .footer-content .social a svg {
        align-self: center;
    }

    .tip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        height: 24px;
        line-height: 24px;
        background: #17191a;
        color: #fff !important;
        font-size: 12px !important;
        text-decoration: none !important;
        white-space: nowrap;
        padding: 0 10px;
        border-radius: 3px;
    }

    .page-detail .footer-content .save svg {
        width: 24px;
        height: 24px;
        fill: #076db6;
        margin-right: 2px;
    }

    .page-detail .footer-content .back-folder .ic {
        fill: #757575;
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
    }

    .page-detail .footer-content .back-folder .tip {
        left: 20px;
        transform: none;
        top: 0px;
        opacity: 0;
        transition-duration: 200ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        visibility: hidden;
    }

    .fck_detail .Normal,
    .fck_detail p {
        margin: 0 0 1em;
        line-height: 160%;
        text-rendering: optimizeSpeed;
    }

    figure {
        margin: 0 auto 20px;
        max-width: 100%;
        clear: both;
    }

    figure {
        position: relative;
    }

    figure::before {
        transition-duration: 250ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        opacity: 0;
        visibility: hidden;
        top: 10px;
        left: 10px;
        content: "Bấm để xem chi tiết";
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        background: rgba(34, 34, 34, .8);
        padding: 8px 9px;
        border-radius: 3px;
        position: absolute;
    }

    .fck_detail .tplCaption {
        text-align: center;
    }

    .fck_detail figure.tplCaption {
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 15px;
    }

    .fck_detail figure.tplCaption .fig-picture {
        width: 100%;
        float: left;
        display: table;
        justify-content: center;
        background: #f0eeea;
        text-align: center;
    }

    .fck_detail figure.tplCaption figcaption {
        width: 100%;
        float: left;
        text-align: left;
    }

    .fck_detail p.Image {
        margin: 0;
        padding: 5px;
    }

    .fck_detail figure.tplCaption figcaption p {
        font: 400 14px/160% arial;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .fck_detail .tplCaption .Image {
        text-align: left;
    }

    .fck_detail table.tplCaption td.caption,
    .fck_detail table.tplCaption td.Image,
    .fck_detail table.tplCaption td p.Normal,
    .fck_detail table.tplCaption td .Image,
    .fck_detail .tplCaption .Image {
        font: 400 14px arial;
        line-height: 160%;
        color: #222;
        padding: 10px 0 0 0;
        margin: 0;
        text-align: left;
    }

    img {
        border: 0;
        font-size: 0px;
        line-height: 0;
        max-width: 100%;
    }

    .lazy {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .fck_detail .tplCaption img {
        max-height: 700px;
    }

    .fck_detail figure.tplCaption img {
        max-height: 700px;
    }

    #video_outstream {
        margin-bottom: 10px;
    }

    .txt_ads {
        overflow: hidden;
        font: 400 .8rem Arial;
        margin: 0 auto;
        width: 50%;
        color: #bdbdbd;
        margin-bottom: 5px;
        text-align: center;
    }

    .txt_ads::before {
        right: 0.5em;
        margin-left: -50%;
    }

    .txt_ads::after {
        left: 0.5em;
        margin-right: -50%;
    }

    .txt_ads::before,
    .txt_ads::after {
        background-color: #E5E5E5;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    .location-stamp {
        color: #757575 !important;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 12px;
        letter-spacing: -0.5px;
        position: relative;
    }

    .location-stamp::before {
        content: "";
        position: absolute;
        bottom: 5px;
        width: 7px;
        height: 1px;
        background: #757575;
        right: -8px;
    }

    .page-detail .description .location-stamp {
        font-size: 16px;
        margin-right: 15px;
    }

    .page-detail .description .location-stamp::before {
        bottom: 6px;
    }

    ul,
    li {
        list-style-type: none;
    }

    .breadcrumb {
        float: left;
    }

    .page-detail .header-content .date,
    .page-detail .width-detail-photo .date {
        float: right;
        color: #757575;
        font-size: 14px;
    }

    .breadcrumb li {
        position: relative;
        display: inline-block;
        line-height: 16px;
        font-size: 14px;
        color: #757575;
        margin-right: 25px;
    }

    .breadcrumb li::after {
        content: "";
        width: 7px;
        height: 7px;
        border-top: 1px solid #bdbdbd;
        border-right: 1px solid #bdbdbd;
        transform: rotate(45deg);
        position: absolute;
        left: -19px;
        top: 5px;
    }

    .breadcrumb li:first-child {
        color: #076db6;
    }

    .breadcrumb li:first-child::after {
        content: none;
    }

    .breadcrumb li a {
        display: inline-block;
    }
</style>

