<section class="section page-detail">
    <div class="container">
        <div class="sidebar-1">
            <div class="header-content width_common">
                <span class="date">Thứ hai, 21/11/2022, 16:00 (GMT+7)</span>
            </div>
            <h1 class="title-detail">
                Những yếu tố tạo giá trị cho Vinhomes Ocean Park 3 - The Crown 
            </h1>
            <p class="description">
                Dự án nổi bật với phong cách sống nghỉ dưỡng và chính sách bán hàng nhiều ưu đãi của chủ đầu tư đã tạo nên sức nóng cho thị trường phía Đông Hà Nội.
            </p>
            <article class="fck_detail ">
                <div id="divfirst">
                    <p class="Normal">Sau khi ra mắt, Vinhomes Ocean Park 3 - The Crown nhận được sự quan tâm của khách hàng. Anh Văn Mạnh, nhân viên một đại lý môi giới bất động sản cho biết, thời gian gần đây anh rất bận rộn với khách hàng tìm hiểu dự án mới này của Vinhomes.</p>
                    <p class="Normal">Có nhiều lý do tạo nên "sức nóng" của Vinhomes Ocean Park 3 - The Crown, trong đó yếu tố ảnh hưởng lớn nhất là phong cách sống nghỉ dưỡng ngay giữa lòng Thủ đô.</p>
                    <figure class="tplCaption" itemtype="http://schema.org/ImageObject" itemscope="" itemprop="associatedMedia image" data-size="true">
                        <meta content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=KjbLo_7mFAbjj0cL2ruuCw" itemprop="url">
                        <meta content="1200" itemprop="width">
                        <meta content="786" itemprop="height">
                        <meta content="" itemprop="href">
                        <div class="fig-picture" style="padding-bottom: 65.48%; position: relative;">
                            <picture>
                                <source srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=4cHbAXcm3fPpHHtx2Fmr9Q 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=m03rXVTDoHmHUr-hatWvog 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=DYiCsxykEFmCxJEKIRChRA 2x" data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=4cHbAXcm3fPpHHtx2Fmr9Q 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=m03rXVTDoHmHUr-hatWvog 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=DYiCsxykEFmCxJEKIRChRA 2x">
                                <img class="lazy lazied" style="left: 0px; width: 100%; position: absolute;" alt="Các tiện ích tại Vinhomes Ocean Park mang đến trải nghiệm nghỉ dưỡng biển ngay tại Thủ đô. Ảnh: Vinhomes" src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=4cHbAXcm3fPpHHtx2Fmr9Q" itemprop="contentUrl" loading="lazy" data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=4cHbAXcm3fPpHHtx2Fmr9Q" intrinsicsize="680x0" data-pfsrc="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-1-7513-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=4cHbAXcm3fPpHHtx2Fmr9Q" data-ll-status="loaded">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">
                                Các tiện ích tại Vinhomes Ocean Park mang đến trải nghiệm nghỉ dưỡng "biển" ngay tại Thủ đô. Ảnh: <em>Vinhomes</em>
                            </p>
                        </figcaption>
                    </figure>

                    <p class="Normal">Ngoài những trải nghiệm hiện hữu của đại dự án Vinhomes Ocean Park, cư dân sẽ còn được thừa hưởng nhiều tiện ích khác trong lòng Vịnh biển Paradise Bay, khi hồ bơi Hồ bơi nước mặn trong nhà Four Seasons rộng 2.000 m2 hoàn thành vào cuối năm nay. Tiện ích này giúp hiện thực hóa giấc mơ tắm biển suốt 4 mùa ở phía Đông Hà Nội.</p>
                    <p class="Normal">Four Seasons còn liên thông với hồ bơi nước mặn ngoài trời trải cát trắng Tropical Lagoon rộng 2,85 ha với nhiều điểm hẹn thú vị xung quanh, như quảng trường sự kiện quy mô lên tới 5.800 m2, công viên gym hàng trăm máy tập, công viên BBQ với nhiều chòi nghỉ riêng tư, lãng mạn... Chưa kể, cư dân tương lai của Vinhomes Ocean Park 3 – The Crown cũng có thể sử dụng các tiện ích của Vinhomes Ocean Park 2 – The Empire kế cận hay mất vài phút di chuyển trên xe buýt VinBus để tới Vinhomes Ocean Park.</p>
                    <figure class="tplCaption" itemtype="http://schema.org/ImageObject" itemscope="" itemprop="associatedMedia image" data-size="true">
                        <meta content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Vkn4hmpQyohZ15NXb9bY0Q" itemprop="url">
                        <meta content="1200" itemprop="width">
                        <meta content="675" itemprop="height">
                        <meta content="" itemprop="href">
                        <div class="fig-picture" style="padding-bottom: 56.25%; position: relative;">
                            <picture>
                                <source srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=oH39PcTW4ZKdZ_tJTvGPLA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=cYo2RllsUFgABwC9dD278Q 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Ey5C9Ay1rHHegCxGO-vq7Q 2x" data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=oH39PcTW4ZKdZ_tJTvGPLA 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=cYo2RllsUFgABwC9dD278Q 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=Ey5C9Ay1rHHegCxGO-vq7Q 2x">
                                <img class="lazy lazied" style="left: 0px; width: 100%; position: absolute;" alt="Các phiên mở bán Vinhomes Ocean Park 3 – The Crown thu hút đông đảo khách hàng. Ảnh: Vinhomes" src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=oH39PcTW4ZKdZ_tJTvGPLA" itemprop="contentUrl" loading="lazy" data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=oH39PcTW4ZKdZ_tJTvGPLA" intrinsicsize="680x0" data-pfsrc="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-2-5-JPG-2560-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=oH39PcTW4ZKdZ_tJTvGPLA" data-ll-status="loaded">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">
                                Các phiên mở bán Vinhomes Ocean Park 3 – The Crown thu hút đông đảo khách hàng. Ảnh: <em>Vinhomes</em>
                            </p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Các sản phẩm nhà thấp tầng của Vinhomes còn sở hữu "giá trị kép", ngoài không gian an cư còn là cơ hội gia tăng lợi nhuận. Theo khảo sát của Savills Việt Nam, tỷ suất lợi nhuận đối với phân khúc này dao động từ 20-25% mỗi năm, thậm chí, thậm chí tăng 40-50% mỗi năm ở thị trường thứ cấp.</p>
                </div>
                <div id="admbackground" data-set="dfp">
                    <div id="video_outstream" style="display: none;">
                        <div class="txt_ads">
                            Quảng cáo
                        </div>
                        <div id="sis_outstream" style="text-align: center;" data-google-query-id="CJn-j_Stv_sCFdJVDwIdI_sIcQ">
                            <div id="google_ads_iframe_/27973503/Vnexpress/Desktop/Outstream/Kinhdoanh/kinhdoanh.batdongsan.detail_0__container__" style="border: 0pt currentColor; border-image: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divend">
                    <p class="Normal">Đại diện Vinhomes cho biết, khi lựa chọn giỏ hàng ở Vinhomes Ocean Park 3 - The Crown, khách hàng sẽ được cam kết mua lại sau 5 năm với lợi nhuận lên tới 37,5%.</p>
                    <p class="Normal">Lợi nhuận từ nhà thấp tầng Vinhomes Ocean Park 3 - The Crown còn có thể tới từ việc cho thuê. Trong trường hợp nhà đầu tư gặp khó trong việc tìm khách hàng, chủ đầu tư cũng cam kết thuê lại khai thác với mức lợi nhuận lên tới 6% mỗi năm.</p>
                    <p class="Normal">Cụ thể, nếu nhà đầu tư thanh toán theo tiến độ không dùng vốn vay ngân hàng, lợi nhuận từ việc cho chủ đầu tư thuê lại lên tới gần 2,7 tỷ đồng trong 5 năm, chưa kể 8% chiết khấu thẳng vào giá bán. Còn nếu lựa chọn sử dụng vốn vay ngân hàng, với việc tất toán 70% khoản vay ngay khi kết thúc thời gian hỗ trợ lãi suất 0% trong 18 tháng theo cam kết của chủ đầu tư, lợi nhuận thu về sẽ đạt khoảng 2,9 tỷ đồng trong 5 năm.</p>
                    <figure class="tplCaption" itemtype="http://schema.org/ImageObject" itemscope="" itemprop="associatedMedia image" data-size="true">
                        <meta content="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-3-3-9342-1669015465.jpg?w=0&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=UQNvVdf0SpYpCLmDSrzqIQ" itemprop="url">
                        <meta content="1200" itemprop="width">
                        <meta content="799" itemprop="height">
                        <meta content="" itemprop="href">
                        <div class="fig-picture" style="padding-bottom: 66.53%; position: relative;">
                            <picture>
                                <source data-srcset="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-3-3-9342-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=_go6HWL_L8XePw-Mq3RGMQ 1x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-3-3-9342-1669015465.jpg?w=1020&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=3kByDXx5l4Z98qqkC_5tMA 1.5x, https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-3-3-9342-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=bvRuAQEx-xUNbjwkxGyTpQ 2x">
                                <img class="lazy" style="left: 0px; width: 100%; position: absolute;" alt="Khách hàng được tư vấn chính sách bán hàng ở Vinhomes Ocean Park 3 – The Crown. Ảnh: Vinhomes" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" itemprop="contentUrl" loading="lazy" data-src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/Anh-3-3-9342-1669015465.jpg?w=680&amp;h=0&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=_go6HWL_L8XePw-Mq3RGMQ" intrinsicsize="680x0" data-pfsrc="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-ll-status="observed">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">Khách hàng được tư vấn chính sách bán hàng ở Vinhomes Ocean Park 3 – The Crown. Ảnh: <em>Vinhomes</em>
                            </p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Để san sẻ bớt gánh nặng tài chính cho khách hàng, chủ đầu tư đã có thỏa thuận với ngân hàng áp dụng hạn mức cho vay linh hoạt, từ 40% hoặc tới 70% giá trị hợp đồng mua bán, cùng lãi suất 0% trong 18 tháng. Trong 1 năm tiếp theo, lãi suất tham chiếu sẽ được giữ ổn định ở mức 9,5% mỗi năm, nâng tổng thời gian hỗ trợ lãi suất lên 30 tháng. Trong bối cảnh cuộc đua lãi suất còn căng thẳng, cam kết này khiến khách hàng hoàn toàn an tâm khi không phải gánh thêm khoản chi phí phát sinh nào trong suốt thời gian này.</p>
                    <p class="Normal">Gia đình chị Thái Hằng (Quận Đống Đa, Hà Nội) là những khách hàng tham gia đại nhạc hội Paradise Bay Fest nhân dịp Vinhomes Ocean Park 3 - The Empire. Chị đã có cảm tình với dự án ngay từ ngày đầu tham quan. Ý định chuyển sang khu vực phía Đông ngày càng được thôi thúc mạnh mẽ hơn khi chị tham gia các chuyến trải nghiệm đại đô thị biển sau đó.</p>
                    <p class="Normal">"Trải nghiệm các tiện ích của Vinhomes Ocean Park 3 - The Crown khiến tôi và các con có cảm giác như mình đang ở một khu resort 5 đẳng cấp nào đó trong kỳ nghỉ dưỡng biển. Đặc biệt là các con tôi rất háo hức muốn chuyển về đây sinh sống", chị Hằng chia sẻ.</p>
                    <p class="Normal">Tại Vịnh biển Paradise Bay, tiện ích mà cư dân nhí nào cũng muốn check-in là công viên nước mini do VinWonder thiết kế, với Vịnh trượt nước Aquabay và những đường trượt tốc độ hấp dẫn. Bộ đôi hồ bơi phong cách Olympic cũng là một trong những điếm nhấn không thể bỏ qua.</p>
                    <p class="Normal">"Tới đây, cháu thấy giống các khu vui chơi, giải trí của Vinpearl Nha Trang, Phú Quốc đã từng được đi", Minh Quân, 15 tuổi, con trai chị Hằng nói.</p>
                    <p class="Normal">Cũng như các giai đoạn trước đây Vinhomes Ocean Park, tại Paradise Bay cũng là nơi thường xuyên diễn ra các sự kiện mang tầm cỡ quốc tế giúp cư dân sẽ liên tục được trải nghiệm.</p>
                    <p class="Normal" style="text-align: right;">
                        <strong>Yên Chi</strong>
                    </p>
                </div>
            </article>
            <div class="lazier" id="_detail_topic">

            </div>
        </div>
    </div>
</section>

<style>* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
.page-detail .sidebar-1 {
	width: 100%;
	max-width: calc(100% - 365px);
	padding: 20px 0 0 0;
	position: relative;
}
.page-detail.top-detail .sidebar-1 {
	width: 100%;
	max-width: calc(100% - 430px);
	padding: 20px 0 0 0;
}
.container {
	width: 100%;
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}
.container::after {
	content: "";
	display: table;
	clear: both;
}
.wrap_pic, .wrap_pic .block_thumb_wrap, .social-com, .detail-live .fck_detail .wrap-img-content, .detail-live .header-live .social, .detail-live .wrap-notifile, .tab-comment .header-tab, .page-detail .container, .header-social .social, .score-table, .score-table .group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.page-detail.top-detail .container {
	background: #fcfaf6;
}
.section {
	width: 100%;
	float: left;
}
.page-detail.top-detail {
	background: #fcfaf6;
	border-bottom: 1px solid #e0e0e0;
}
html, body {
	text-rendering: optimizeLegibility;
}
body {
	color: #222;
	font: 400 15px arial;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
html {
	-webkit-text-size-adjust: none;
}
.width_common {
	width: 100%;
	float: left;
}
.page-detail .header-content, .page-detail .width-detail-photo {
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}
.detail-live .tab-live, .detail-live .title-block-live, .tab-comment .header-tab, .box_note_join .tit_note, .box_about_author .name_au, .block-khachmoi .txt-km, .page-detail .related-list li, .page-detail .title-detail, .score-table, .block_reply_tv .tit_reply, .item_quiz .tittle_quiz {
	font-feature-settings: "pnum" 1, "lnum" 1;
	-webkit-font-feature-settings: "pnum" on , "lnum" on;
	-moz-font-feature-settings: "pnum" on , "lnum" on;
	-ms-font-feature-settings: "pnum" 1, "lnum" 1;
}
.page-detail .title-detail {
	font-size: 32px;
	line-height: 150%;
	font-family: "Merriweather",serif;
	font-weight: bold;
	margin-bottom: 15px;
}
.page-detail .description {
	font-size: 18px;
	line-height: 160%;
	font-weight: 400;
	margin-bottom: 15px;
}
.fck_detail {
	width: 100%;
	float: left;
	position: relative;
	font: 400 18px arial;
	line-height: 160%;
	padding: 0;
	color: #222;
}
a {
	color: inherit;
	text-decoration: none;
	outline: 1;
}
.page-detail .footer-content, .page-detail .footer-content .social, .page-detail .footer-content .social a, .page-detail .related-news, .page-detail .list-topic {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.page-detail .footer-content {
	margin-bottom: 20px;
}
.lazier {
	width: 1px;
	height: 1px;
}
.lazier {
	width: 1px;
	height: 1px;
	clear: both;
}
.page-detail .footer-content .save {
	background: #fff;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #4f4f4f;
}
.page-detail .footer-content .back-folder {
	width: auto;
	padding: 0 15px;
	margin-right: 10px;
	position: relative;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	overflow: hidden;
}
.page-detail .footer-content .social {
	margin-left: auto;
}
.page-detail .footer-content .social .txt {
	line-height: 40px;
	color: #4f4f4f;
}
.page-detail .footer-content .social a {
	background: #fff;
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	margin-left: 10px;
	align-self: center;
	justify-content: center;
}
.ic {
	width: 16px;
	height: 16px;
	fill: #757575;
	display: inline-block;
	vertical-align: middle;
}
.page-detail .footer-content .social a svg {
	align-self: center;
}
.tip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	line-height: 24px;
	background: #17191a;
	color: #fff !important;
	font-size: 12px !important;
	text-decoration: none !important;
	white-space: nowrap;
	padding: 0 10px;
	border-radius: 3px;
}
.page-detail .footer-content .save svg {
	width: 24px;
	height: 24px;
	fill: #076db6;
	margin-right: 2px;
}
.page-detail .footer-content .back-folder .ic {
	fill: #757575;
	width: 16px;
	height: 16px;
	transform: rotate(180deg);
}
.page-detail .footer-content .back-folder .tip {
	left: 20px;
	transform: none;
	top: 0px;
	opacity: 0;
	transition-duration: 200ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	visibility: hidden;
}
.fck_detail .Normal, .fck_detail p {
	margin: 0 0 1em;
	line-height: 160%;
	text-rendering: optimizeSpeed;
}
figure {
	margin: 0 auto 20px;
	max-width: 100%;
	clear: both;
}
figure {
	position: relative;
}
figure::before {
	transition-duration: 250ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
	opacity: 0;
	visibility: hidden;
	top: 10px;
	left: 10px;
	content: "Bấm để xem chi tiết";
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	background: rgba(34,34,34,.8);
	padding: 8px 9px;
	border-radius: 3px;
	position: absolute;
}
.fck_detail .tplCaption {
	text-align: center;
}
.fck_detail figure.tplCaption {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 15px;
}
.fck_detail figure.tplCaption .fig-picture {
	width: 100%;
	float: left;
	display: table;
	justify-content: center;
	background: #f0eeea;
	text-align: center;
}
.fck_detail figure.tplCaption figcaption {
	width: 100%;
	float: left;
	text-align: left;
}
.fck_detail p.Image {
	margin: 0;
	padding: 5px;
}
.fck_detail figure.tplCaption figcaption p {
	font: 400 14px/160% arial;
	padding-top: 10px;
	margin-bottom: 0px;
}
.fck_detail .tplCaption .Image {
	text-align: left;
}
.fck_detail table.tplCaption td.caption, .fck_detail table.tplCaption td.Image, .fck_detail table.tplCaption td p.Normal, .fck_detail table.tplCaption td .Image, .fck_detail .tplCaption .Image {
	font: 400 14px arial;
	line-height: 160%;
	color: #222;
	padding: 10px 0 0 0;
	margin: 0;
	text-align: left;
}
img {
	border: 0;
	font-size: 0px;
	line-height: 0;
	max-width: 100%;
}
.lazy {
	position: absolute;
	top: 0px;
	left: 0px;
}
.fck_detail .tplCaption img {
	max-height: 700px;
}
.fck_detail figure.tplCaption img {
	max-height: 700px;
}
#video_outstream {
	margin-bottom: 10px;
}
.txt_ads {
	overflow: hidden;
	font: 400 .8rem Arial;
	margin: 0 auto;
	width: 50%;
	color: #bdbdbd;
	margin-bottom: 5px;
	text-align: center;
}
.txt_ads::before {
	right: 0.5em;
	margin-left: -50%;
}
.txt_ads::after {
	left: 0.5em;
	margin-right: -50%;
}
.txt_ads::before, .txt_ads::after {
	background-color: #E5E5E5;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
ul, li {
	list-style-type: none;
}
.breadcrumb {
	float: left;
}
.page-detail .header-content .date, .page-detail .width-detail-photo .date {
	float: right;
	color: #757575;
	font-size: 14px;
}
.breadcrumb li {
	position: relative;
	display: inline-block;
	line-height: 16px;
	font-size: 14px;
	color: #757575;
	margin-right: 25px;
}
.breadcrumb li::after {
	content: "";
	width: 7px;
	height: 7px;
	border-top: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	transform: rotate(45deg);
	position: absolute;
	left: -19px;
	top: 5px;
}
.breadcrumb li:first-child {
	color: #076db6;
}
.breadcrumb li:first-child::after {
	content: none;
}
.breadcrumb li a {
	display: inline-block;
}
</style>

