<div class="row">
    <div class="col-4"></div>
    <div class="col-4"  style="padding-top: 100px">
        <form  method="post" action="/account/login_tc">
            <h3 style="text-align: center;"><b>Đăng nhập</b></h3><br>
            <div class="mb-3">
                <label for="username" class="form-label">Tài khoản</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="passwork" class="form-label">Mật khẩu</label>
                <input type="password" name="passwork" class="form-control" id="passwork">
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Login</button>
        </form> <br><br><br><br><br>
    </div>
    <div class="col-4"></div>
</div>