<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title></title>
  </head>
  <body>
    <div class="wrapper">
        <div class="title">Resgister Form</div>
        <form method="post" action="/store_res"> 
            <div class="field">
                <input type="text" name="username" class="form-control" id="txtUser" onblur="checkUser()" >
                <label for="txtUser" class="form-label">Username</label>
            </div>
            <p><span id="checkedUser" style="color: red;"></span></p>
            <div class="field">
                <input type="password" name="passwork" class="form-control" id="txtPass" onblur="checkPass()" >
                <label for="txtPass" class="form-label">Password</label>
            </div>
            <p><span id="checkedPass" style="color: red;"></span></p>
            <div class="field">
                <input type="password" name="" class="form-control" id="txtCPass" onblur="checkCPass()">
                <label for="txtCPass" class="form-label">Confirm password</label>
            </div>
            <p><span id="checkedCPass" style="color: red;"></span></p>
            <div class="field">
                <input type="text" name="fullname" class="form-control" id="txtName" onblur="checkName()">
                <label for="txtName" class="form-label">Name</label>
            </div>
            <p><span id="checkedName" style="color: red;"></span></p>
            <div class="field">
                <input type="date" name="birthday" class="form-control" id="txtBirth">
                <label for="txtBirth" class="form-label"></label>
            </div>
            <div class="field">
                <input type="text" name="address" class="form-control" id="exampleInputAdd">
                <label for="exampleInputAdd" class="form-label">Address</label>
            </div>
            <div class="">
            </div>
            <div class="field">
                <input id="submit" type="submit" value="Resgister" disabled="true" onpointermove="openButton()">
                {{!-- <button type="submit" ></button> --}}

            </div>
            <div class="signup-link">You already have an account? <a href="/">Login</a></div>
        </form>
    </div>
  </body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

</style>

<script>
    function checkUser() {
            var user = document.getElementById("txtUser").value;
            var userRegex = /^([A-Za-z0-9]){6,}$/;
            if (userRegex.test(user) == false){
                document.getElementById("checkedUser").innerHTML = "Username không được bỏ trống và hơn 6 kí tự!!!";
                return false;
            }
            else {
                document.getElementById("checkedUser").innerHTML = ""; 
                return true;
            }
        }
           
    function checkPass() {
            var pass = document.getElementById("txtPass").value;
            var regex = /^(\w+){6,}$/;
            if(regex.test(pass) == false) {
                document.getElementById("checkedPass").innerHTML = "Nhập hơn 6 kí tự";
            return false;
            } 
            else {
                document.getElementById("checkedPass").innerHTML = ""; 
                return true;
            }
        }       

    function checkCPass() {
            var pass = document.getElementById("txtPass").value;
            var cPass = document.getElementById("txtCPass").value;
            if(pass != cPass) {
                document.getElementById("checkedCPass").innerHTML = "Mật khẩu khác!!!";
                return false;
            } 
            else {
                document.getElementById("checkedCPass").innerHTML = ""; 
                return true;
            }
        }    
            
    function checkName() {
            var name = document.getElementById("txtName").value;
            var nameRegex = /^([A-Z]{1}[a-z]*\s)*([A-Z]{1}[a-z]*){1}$/;
            if(nameRegex.test(name) == false) {
                document.getElementById("checkedName").innerHTML = "Viết hoa chữ cái đầu,không bỏ dấu và hơn 1 từ!!!";
                return false;
            } 
            else {
                document.getElementById("checkedName").innerHTML = ""; 
                return true;
            }
        }
    
    function openButton(){
            if(checkUser() == true && checkName() == true && 
            checkPass() == true && checkCPass() == true){
                document.getElementById("submit").disabled = false;
            } else document.getElementById("submit").disabled = true;
        }
</script>

