<footer class="footer py-4 col-12" id="footer" >
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="footer-block footer-company">
              <div class="company-name mt-3 text-uppercase fs-6 text-bold">
                      <box-icon name='home-heart' ></box-icon>
                      WEBSITE THƯƠNG MẠI BẤT ĐỘNG SẢN HOMESTAYBG.ONLINE
              </div>
              <div class="company-phone mt-2">
                      <box-icon name='phone' animation='tada' ></box-icon>
                      </i>HOTLINE: 0374123411/0
              </div>
              <div class="company-email mt-2">
                      <box-icon type='logo' name='gmail'></box-icon>
                      </i>phubinh0001@gmail.com / gianggiang29290101@gmail.com
              </div>
              <div class="company-address mt-2">
                      <box-icon type='solid' name='briefcase-alt-2'></box-icon>
                      </i>Đại học Công nghiệp Thành phố Hồ Chí Minh 4
              </div>
      </div>
      <div class="footer-block">
              <div class="text-uppercase text-bold fs-6 mb-3">
                      <b>Quy định</b>
              </div>
              <nav class="navbar">
                      <ul class="navbar-nav text-uppercase fs-7">
                              <li>
                              <a title="Hướng dẫn tạo in" style="color: black;" class="d-block py-1" href="/cauHoi">
                                      Câu hỏi thường gặp
                              </a>
                              <li>
                              <a class="d-block py-1" style="color: black;" href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=GTvVlcRzCMcpNVKKStjjrRkpGgGmGBjTCXHHtglnfVXJmXGtXbRshKTwBfxXXmPRxNpxwfwSKgRpr">
                                      Liên hệ
                              </a>
                              <li>
                              <a title="Sitemap" style="color: black;" class="d-block py-1" href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+C%C3%B4ng+nghi%E1%BB%87p+TP.HCM/@10.8224989,106.6880843,15z/data=!4m5!3m4!1s0x3174deb3ef536f31:0x8b7bb8b7c956157b!8m2!3d10.8221589!4d106.6868454">
                                      Sitemap
                              </a>
                              <li>
                              <a title="Chính sách bảo mật thông tin" style="color: black;" class="d-block py-1" href="/">
                                      Chính sách bảo mật thông tin
                              </a>
                              <li>
                              <a title="Quy chế hoạt động" style="color: black;" class="d-block py-1" href="/">
                                      Thông báo
                              </a>
                      </ul>
              </nav>
      </div>
      <div class="footer-block">
        <div class="text-uppercase  text-bold fs-6 mb-3">
          <b>Hỗ trợ khách hàng</b>
        </div>
        <ul class="list-unstyled">
          <li class="py-1">
          <box-icon name='phone-incoming' type='solid' animation='burst' ></box-icon>
          </i>Tổng đài CSKH: 1800 XXXX

          <li class="py-1">
          <box-icon name='envelope' animation='tada' ></box-icon>
          </i>phubinh0001@gmail.com

          <li class="py-1">
          <box-icon name='shield' animation='spin' ></box-icon>
          </i>Hỗ trợ kỹ thuật: 0789 xxx xxx
        </ul>
        <div class="footer-social d-flex justify-content-between align-items-center">
          <a href="https://www.facebook.com/yumi.giaqq" >
                  <box-icon style="color: white;" type='logo' name='facebook-square'></box-icon>
          </a>
          <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNqLdNfPkBmcSGSdLDCWWpHjVczDCMpqPQHsQGhQKcqBKnMFkTzVCmcGQcXkwMpStmpqtg" >
                  <box-icon name='gmail' type='logo' ></box-icon>
          </a>
          <a href="https://twitter.com/Phubinh10" >
                  <box-icon type='logo' name='twitter'></box-icon>
          </a>
          <a href="https://www.youtube.com/@nguyenphubinh1320/featured" >
                  <box-icon type='logo' name='youtube'></box-icon>
          </a>
                
        </div>
        <div class="footer-regitered mt-3">
                
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center fs-8 mt-3">
      <div class="copyright-text">All content © copyright Homestaybg.online. All rights reserved</div>
      <p>
        <a title="DMCA.com Protection Status" class="dmca-badge" href="/"> <img width="100" height="20" alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-10.png?ID=86a822a3-2466-4e71-abef-6a2339123236">
        </a>
      </p>
    </div>
  </div>
</footer>

<style>
.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.footer {
	background: #b8b4b4;
	color: #0e0a0a;
}
.container, .container-fluid, .container-xxl {
	width: 100%;
	padding-right: var(--gutter-x,.75rem);
	padding-left: var(--gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:1400px) */
.container-xxl, .container-xl, .container-lg, .container {
	max-width: 1320px;
}
.d-flex, .search .suggestions-list .suggestion-item, .favorite-list-item > a, .favorite-list-header, .favorite-list-item .content, .dialog-footer, .dialog-alert, .dialog-confirm, .check-list, .check-inline, .input-group-icon {
	display: flex !important;
}
.justify-content-between, .search .suggestions-list .suggestion-item, .favorite-list-header, .dialog-footer {
	justify-content: space-between !important;
}
.mt-3, .search-row, .social-login.facebook {
	margin-top: 1rem !important;
}
.fs-8 {
	font-size: 0.81rem !important;
}
.text-center, .expandable .block-description figure figcaption, .expandable .expand-bar, .home-investor .investor-control-next, .home-investor .investor-control-prev, .search-home .search-nav input[type=radio] + .nav-type-name, .dropdown-selection-empty, .dropdown-selection-group, .empty-content, .toc_title, .section-title-center, .favorite-empty, .favorite-list-footer, .dialog-footer, .dialog {
	text-align: center !important;
}
p {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.footer-copyright p {
	margin: 0;
}
a {
	color: #cfa267;
	text-decoration: unset;
}
.d-block {
	display: block !important;
}
.py-1, .search .suggestions-list .suggestion-item {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}
.footer a {
	color: #b3b3b3;
}
img, svg {
	vertical-align: middle;
}
.mb-3, .dialog-title {
	margin-bottom: 1rem !important;
}
.fs-6, .expandable .block-description h3, .expandable .block-description .h3, .toc_list {
	font-size: 1rem !important;
}
.fs-7, .expandable .block-description figure figcaption, .header {
	font-size: 0.87rem !important;
}
.text-uppercase, .search-home .search-nav input[type=radio] + .nav-type-name, .section-title, .aside-title, .favorite-list-item .title, .favorite-list-header {
	text-transform: uppercase !important;
}
.text-dark-yellow, .empty-content {
	color: #b87926 !important;
}
.text-bold, .dropdown-selection-empty-text > p, .dropdown-selection-group, .search .suggestions-list .suggestion-group, .header, .section-title, .aside-link.active a, .aside-title, .favorite-list-item .title, .dialog-button, .dialog-body {
	font-weight: 500;
}
ol, ul {
	padding-left: 2rem;
}
ol, ul, dl {
	margin-top: 0px;
	margin-bottom: 1rem;
}
.list-unstyled, .toc_list {
	padding-left: 0px;
	list-style: none;
}
.align-items-center, .search .suggestions-list .suggestion-item, .dialog-footer, .input-group-icon {
	align-items: center !important;
}
img:not([src]).lazyload {
	visibility: hidden;
}
.footer-social a {
	color: #fff;
}
.me-2, .favorite-list-item .img {
	margin-right: 0.5rem !important;
}
.icon-phone::before {
	content: "";
}
.mt-2 {
	margin-top: 0.5rem !important;
}
</style>