<article class="article py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="card card-main rounded shadow-sm link-dark" href="/news/vinhomes">
                    <div class="card-head">
                        <img class="" src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/248346372_392121292625221_2880944561028872605_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=l1jmgLMFVl0AX8illwV&_nc_ht=scontent.fsgn2-6.fna&oh=03_AdS6ibauIvdwpHAMaMtLU2kEyb58kJLJDHQeozdM-EPneQ&oe=63A4EA32">
                    </div>
                    <div class="card-body">
                        <div class="card-title text-bold fs-5">
                            Những yếu tố tạo giá trị cho Vinhomes Ocean Park 3 - The Crown
                        </div>
                        <div class="card-text mt-2">
                            Dự án nổi bật với phong cách sống  nghỉ dưỡng và chính sách bán hàng nhiều ưu đãi của chủ đầu tư đã tạo nên sức nóng cho
                            thị trường phía đông Hà Nội.
                        </div>
                    </div>
                </a> 

                <a title="Tâm điểm mới" class="card rounded link-dark shadow-sm mt-4" href="/news/newHot">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/image007-1669008875-3123-1669008990.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=rdJuRzFcS9cxT9eBxji99A">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Phía đông Hà Nội - tâm điểm mới của vùng kinh tế trọng điểm Bắc Bộ
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                20/03/2021 - 17:22
                            </div>
                            <div class="card-text mt-2">
                                Nhớ lợi thế kết nối động bộ, khu Đông Thủ đô đang dần định hình thành thâm điểm kinh tế quan trọng tại miền Bắc
                            </div>
                        </div>
                    </div>
                </a> 
                <a title="Phúc An Asuka" class="card rounded link-dark shadow-sm mt-4" href="/news/phucAn">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/phucan-1668768422-9897-1668769593.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=ppCpgkzwJ4COHDuSrvIUmQ">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Khách mua nhà phố Phúc An Asuka được vay vốn 5 năm
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                7/03/2021 - 3:22
                            </div>
                            <div class="card-text mt-2">
                                Người mua nhà phố tại Phúc An Asuka được Trần Anh Group hỗ trợ vay vốn trong 5 năm
                            </div>
                        </div>
                    </div>
                </a> 
                <a title="Sunshine Group" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/imageextractword0out1719166876-7610-4372-1668996845.png?w=240&h=144&q=100&dpr=1&fit=crop&s=mZe-Ds9dl8KDuRaTdpA7dA">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Sunshine Group tập trung phát triển tiện ích tại chuỗi dự án
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                19/05/2021 - 14:20
                            </div>
                            <div class="card-text mt-2">
                                Hướng đến người dùng cuối bằng giá trị cót lõi của sản phẩm, Sunshine Group gắn vào các dự án bất động sản cao cấp không gian
                                sống hiện đại cùng hệ tiện ích toàn điện
                            </div>
                        </div>
                    </div>
                </a>
                <a title="Củng cố nội lực" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/21/e49b4293983e1841c1446d7886b2f5-9270-9633-1668996320.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=zv0k7QibyqID6ktUd4tW5w">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Doanh nghiệp bất động sản củng cố nội lực để tồn tại
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                19/05/2022 - 23 : 13
                            </div>
                            <div class="card-text mt-2">
                                Dự báo xu hướng thị trường và những giải pháp cho các doanh nghiệp bất động sản sẽ được thảo luận tại Hội nghị bất động sản
                                Việt Nam - VRES 2022
                            </div>
                        </div>
                    </div>
                </a>
                <a title="West C Masteri" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/Image-ExtractWord-2-Out-2502-1668742105.png?w=240&h=144&q=100&dpr=1&fit=crop&s=ZG3qwYMRlEr1cdm2uZ4nfg">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Cản hộ West C Masteri West Heights sở hữu ba tầm nhìn cao căp
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                26/10/2021 - 15:42
                            </div>
                            <div class="card-text mt-2">
                                Tòa West C Masteri West Height sỏ hữu ba tầm nhìn gồm hướng trung tâm thành phố, hướng công viên xanh mát và hướng hồ trung tâm
                            </div>
                        </div>
                    </div>
                </a>
                <a title="VMI kết nối" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/19/anh-2-jpeg-8125-1668767689-166-5117-6415-1668822144.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=cwPG8nUgJ5jAOLuyexk1rA">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                VMI kết nối các nhà đầu tư nhỏ cùng hợp tác kinh doanh
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                30/05/2021 - 18 : 29
                            </div>
                            <div class="card-text mt-2">
                                Khách hàng hợp tác với VMI được công ty chứng nhận quyền tài sản và phân chia lợi nhuận tương ứng với tỷ lệ đầu tư
                            </div>
                        </div>
                    </div>
                </a>
                <a title="Ixora Ho Tram by Fusion" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/124-1668748667-5629-1668748734.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=vNtbdK05FT7_DmfkprIArQ">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Tiện ích chăm sóc sức khỏe tại Ixora Ho Tram by Fusion
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                28/03/2021 - 07:22
                            </div>
                            <div class="card-text mt-2">
                                Dự án mang đến không gian nghỉ dưỡng trong lành, nằm giữa một bên là bãi biển. một bên là 11 000 ha dải rừng Phước Bửu - Bình Chầu
                            </div>
                        </div>
                    </div>
                </a>
                <a title="Valley of Dreams II" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/hinh-1-thumnail-1668768033-5836-1668768065.jpg?w=240&h=144&q=100&dpr=1&fit=crop&s=AxWmEqOeUQwSeZ2k88M0pw">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Cư dân Valley of Dreams II - Luxury hưởng lợi từ tiện ích giáo dục quốc tế
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                30/06/2021 - 18:22
                            </div>
                            <div class="card-text mt-2">
                                Valley of Dreams II Luxury nằm đối diện Đại học Việt Đức, giúp cư dân tương lai có thể tiếp cận môi trường giáo dục tiêu chuẩn quốc tế
                            </div>
                        </div>
                    </div>
                </a>
                <a title="Khu villa compound Regal Victoria" class="card rounded link-dark shadow-sm mt-4" href="/news/vinhomes">
                    <div class="row g-0">
                        <div class="col-3 card-head h-100">
                            <img class="" src="https://i1-kinhdoanh.vnecdn.net/2022/11/18/image-961836550-extractword-0-3057-7196-1668767994.png?w=240&h=144&q=100&dpr=1&fit=crop&s=nYDONg7L96KEWfaprlAEQA">
                        </div>
                        <div class="col-9 card-body">
                            <div class="card-title text-bold fs-6">
                                Khu villa compound Regal Victoria hướng đến trải nghiệm sống sang
                            </div>
                            <div class="card-time mt-2 fs-7">
                                <box-icon name='time-five'></box-icon>
                                25/08/2022 - 09:52
                            </div>
                            <div class="card-text mt-2">
                                Regal Victorya - Alizabeth Edition đáp ứng tiêu chuẩn sống san với hệ tiện ích nội khu cao cấp cùng chuỗi tiện ích ngoại khu liên kết quốc tế
                            </div>
                        </div>
                    </div>
                </a> 

                <div class="text-center mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active">
                        <a title="Trang 1" class="page-link" href="1"> 1 </a>
                        <li class="page-item">
                        <a title="Trang 2" class="page-link" href="/news"> 2 </a>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

<style>
*, *::before, *::after {
	box-sizing: border-box;
}
.row {
	--gutter-x:1.5rem: ;
	--gutter-y:0: ;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--gutter-y)*-1);
	margin-right: calc(var(--gutter-x)*-.5);
	margin-left: calc(var(--gutter-x)*-.5);
}
.container, .container-fluid, .container-xxl {
	width: 100%;
	padding-right: var(--gutter-x,.75rem);
	padding-left: var(--gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:1400px) */
.container-xxl, .container-xl, .container-lg, .container {
	max-width: 1320px;
}
.px-2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}
.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--gutter-x)*.5);
	padding-left: calc(var(--gutter-x)*.5);
	margin-top: var(--gutter-y);
}
.col-4 {
	flex: 0 0 auto;
	width: 33.33%;
}
.col-3 {
	flex: 0 0 auto;
	width: 25%;
}
.overflow-hidden, .header-main .navbar a, .card-head, .main-content {
	overflow: hidden !important;
}
.main-content {
	min-height: 30rem;
}
body {
	margin: 0;
	font-family: var(--font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #3f3424;
	background-color: #f4f2f0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
	--blue:#0d6efd: ;
	--indigo:#6610f2: ;
	--purple:#6f42c1: ;
	--pink:#d63384: ;
	--red:#ef5350: ;
	--orange:#fd7e14: ;
	--yellow:#ffb800: ;
	--green:#33a837: ;
	--teal:#20c997: ;
	--cyan:#0dcaf0: ;
	--white:#fff: ;
	--gray:#6c757d: ;
	--gray-dark:#343a40: ;
	--primary:#cfa267: ;
	--secondary:#6c757d: ;
	--success:#33a837: ;
	--info:#0dcaf0: ;
	--warning:#ffb800: ;
	--danger:#ef5350: ;
	--light:#f8f9fa: ;
	--dark:#3f3424: ;
	--dark-yellow:#b87926: ;
	--font-sans-serif:"Asap",sans-serif: ;
	--gradient:linear-gradient(180deg,rgba(255,255,255,.15),rgba(255,255,255,0)): ;
}
.col-8 {
	flex: 0 0 auto;
	width: 66.66%;
}
a {
	color: #cfa267;
	text-decoration: unset;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}
.link-dark, .box-user-login .options-menu li a {
	color: #3f3424;
}
.shadow-sm, .video-control-next, .video-control-prev, .header.sticky .header-main, blockquote, .favorite-list {
	box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.15) !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.bg-white, .favorite-list, .dialog-alert, .dialog-confirm {
	background-color: #fff !important;
}
.border-top {
	border-top: 1px solid #dee2e6 !important;
}
.px-3, .header-main .link-create, .social-login, .favorite-list-item > a, .favorite-list-header, .box-user-login .options-menu li a, .dialog-footer {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}
.py-2, .header-main .link-create, .social-login, .favorite-list-header, .favorite-list-footer, .favorite-list-item {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.fs-7, .header {
	font-size: 0.87rem !important;
}
.text-uppercase, .section-title, .aside-title, .favorite-list-item .title, .favorite-list-header {
	text-transform: uppercase !important;
}
img, svg {
	vertical-align: middle;
}
.rounded, .header-main .link-create, .favorite-list-item .img, .favorite-list, .dialog-alert, .dialog-confirm {
	border-radius: .25rem !important;
}
.border-primary {
	border-color: #cfa267 !important;
}
.border-1 {
	border-width: 1px !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.card-title {
	margin-bottom: 0.5rem;
}
.fs-6, .toc_list {
	font-size: 1rem !important;
}
.fs-5, .dialog-title {
	font-size: 1.25rem !important;
}
.text-bold, .header, .section-title, .aside-link.active a, .aside-title, .favorite-list-item .title, .dialog-button, .dialog-body {
	font-weight: 500;
}
.aside-title {
	color: #cfa267;
}
.p-3, .dialog-body {
	padding: 1rem !important;
}
.rounded-0 {
	border-radius: 0 !important;
}
.card {
	width: 100%;
}
.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.text-center, .empty-content, .toc_title, .section-title-center, .favorite-empty, .favorite-list-footer, .dialog-footer, .dialog {
	text-align: center !important;
}
.d-inline-block {
	display: inline-block !important;
}
.border-dashed {
	border-style: dashed;
}
.card i {
	margin-right: 0.25rem;
}
.text-danger, .text-red, .favorite-list-item .price {
	color: #ef5350 !important;
}
[class^=icon-]::before, [class^=icon-]::after, [class*=' icon-']::before, [class*=' icon-']::after {
	display: inline-block;
	font-family: "hsvn";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	vertical-align: -0.12em;
}
.icon-plus::before {
	content: "";
}
.g-0, .gx-0 {
	--gutter-x:0: ;
}
.g-0, .gy-0 {
	--gutter-y:0: ;
}
.h-100, .dialog {
	height: 100% !important;
}
.card-head {
	position: relative;
}
.card-aside-video .card-head {
	height: 5rem;
}
.col-9 {
	flex: 0 0 auto;
	width: 75%;
}
.card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}
.py-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.pe-0 {
	padding-right: 0px !important;
}
.card-body {
	position: relative;
}
.icon-time::before {
	content: "";
}
.card-aside-img {
	width: 100%;
}
.rounded-start {
	border-bottom-left-radius: 0.25rem !important;
	border-top-left-radius: 0.25rem !important;
}
.rounded-top {
	border-top-left-radius: 0.25rem !important;
	border-top-right-radius: 0.25rem !important;
}
.card-head-img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.card .card-head-img-news {
	height: 9.5rem;
	min-height: 100%;
}
img:not([src]).lazyload {
	visibility: hidden;
}
.icon-play-button::before {
	content: "";
}
.card-aside-video .card-head i {
	font-size: calc(1.275rem + .3vw);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 10;
}
/* @media all and (min-width:1200px) */
.card-aside-video .card-head i {
	font-size: 1.5rem;
}
.overlay {
	position: absolute;
	top: 0px;
	right: -1px;
	bottom: 0px;
	left: -1px;
	height: 100%;
	transition: transform .3s, opacity .6s;
}
.overlay-light {
	background-color: rgba(0,0,0,.2);
}
.me-2, .favorite-list-item .img {
	margin-right: 0.5rem !important;
}
.icon-youtube::before {
	content: "";
}
ol, ul {
	padding-left: 2rem;
}
ol, ul, dl {
	margin-top: 0px;
	margin-bottom: 1rem;
}
.list-unstyled, .toc_list {
	padding-left: 0px;
	list-style: none;
}
.m-0 {
	margin: 0 !important;
}
.fst-italic {
	font-style: italic !important;
}
.justify-content-center {
	justify-content: center !important;
}
.pagination {
	display: flex;
	padding-left: 0px;
	list-style: none;
}
.page-link {
	position: relative;
	display: block;
	color: #cfa267;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.page-link {
	padding: .375rem .75rem;
}
.page-item .page-link {
	border-radius: .25rem;
}
.pagination .page-link {
	min-width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	font-size: 1.12rem;
}
:not(:first-child).page-item .page-link {
	margin-left: 0.5rem;
}
.icon-next::before {
	content: "";
}
.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #cfa267;
	border-color: #cfa267;
}
.card-title {
	display: block;
	line-height: 1.43;
}
:last-child.card-text {
	margin-bottom: 0px;
}
.card-main .card-head {
	height: 23.5rem;
}
</style>

    
